
body {
    background: none repeat scroll 0 0 #E3E0D1;
    color: #5C0D11;
    font-family: arial,helvetica,sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 2px;
    text-align: center;
}
p {
    margin: 0;
    padding: 3px 1px;
}
img {
    border: 0 none;
}

.logo-container {
    background-color: #5C0D11;
}

a.fa {
    text-decoration: none;
}

a {
    color: #5C0D11;
}
a:hover {
    color: #9B4E03;
}

input[type='checkbox']:checked::after, input[type='checkbox']:checked::before {
    color: #9B4E03;
}  

.sorting_asc>a, .sorting_desc>a {
    color: #9B4E03 !important;
}
.sorting_asc>a:hover, .sorting_desc>a:hover {
    color: #5C0D11 !important;
}

p.ip {
    clear: both;
    margin: -3px auto;
    padding: 0 5px 5px;
    text-align: center;
}
img.mr {
    border: 0 none;
    height: 7px;
    margin-left: 10px;
    width: 5px;
}
div.ido {
    background: none repeat scroll 0 0 #EDEBDF;
    border: 1px solid #5C0D12;
    border-radius: 9px 9px 9px 9px;
    margin: 10px auto;
    max-width: 1200px;
    padding: 5px;
    position: relative;
    width: 99%;
}

/* Tags */
div.gt {
    background: none repeat scroll 0 0 #F2EFDF;
    border: 1px solid #806769;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-weight: bold;
    margin: 0 2px 5px;
    padding: 1px 4px;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagger > ul > li:not(.tagger-new) > a, .tagger li:not(.tagger-new) > span, .tagger .tagger-new ul {
    background: none repeat scroll 0 0 #F2EFDF;
    border: 1px solid #806769;
    border-radius: 5px 5px 5px 5px;
  }
  
  .tagger > ul > li:not(.tagger-new) a, .tagger > ul > li:not(.tagger-new) a:visited, .tagger-new ul a, .tagger-new ul a:visited {
    color: #5C0D11;
  }
  
  div.gt:hover, .tagger > ul > li:not(.tagger-new) a:hover {
    color: #9b4e03;
}

h1.ih {
    font-size: 10pt;
    font-weight: bold;
    margin: 2px auto;
    padding-bottom: 6px;
    text-align: center;
}
p#nb {
    margin: 2px auto;
    text-align: center;
}
p#nb img {
    border: 0 none;
    height: 7px;
    margin-left: 10px;
    width: 5px;
}
p#nb a {
    font-weight: bold;
}
table.itg {
    border: 2px ridge #5C0D12;
    border-collapse: collapse;
    font-size: 9pt;
    margin: 0 auto;
    max-width: 1175px;
    padding: 3px;
    width: 99% !important;
}
table.itg th {
    background: none repeat scroll 0 0 #E0DED3;
    font-weight: bold;
    padding: 3px 4px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* favtags */
table.itc {
    margin: auto;
}

.favtag-btn {
    font-size: 10pt;
    min-width: 50px;
    height: 25px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #EDEADA;
    border: 2px outset #5C0D11;
    color: #5C0D11;
    margin:4px 1px 0px 1px;
    padding:0px 4px 1px 4px; 
    cursor: pointer;
    font-weight: bold;
}

.favtag-btn:hover {
    background: #5f0d1f !important;
    border: 2px outset #5C0D11 !important;
    color: #F2EFDF !important;
}

.toggled {
    background: #5f0d1f !important;
    border: 2px outset #5C0D11 !important;
    color: #F2EFDF !important;
}

/* options flyout menus */
.option-flyout {
    border: 1px solid #363940;
    background:#E0DED3;
    padding:3px 4px 3px 4px;
    margin: 10px;
}

.caret-right::after, .caret::before {
    color: #5C0D11 !important;
}
tr.gtr0 {
    background: none repeat scroll 0 0 #EDEBDF;
}
tr.gtr1 {
    background: none repeat scroll 0 0 #F2F0E4;
}
.stdbtn {
    background: none repeat scroll 0 0 #EDEADA;
    border: 2px outset #5C0D11;
    color: #5C0D11;
    font-size: 8pt;
    height: 21px;
    margin: 4px 1px 0;
    padding: 0 4px 1px;
    min-width: 150px;
    cursor: pointer;
}
.stdbtn:hover {
    background: none repeat scroll 0 0 #F2EFDF;
    border: 2px outset #9B4E03;
    color: #9B4E03;
}
.stdbtn:focus {
    background: none repeat scroll 0 0 #F2EFDF;
    color: #9B4E03;
}
.stdinput {
    background: none repeat scroll 0 0 #EDEADA;
    border: 1px solid #5C0D11;
    color: #5C0D11;
    font-size: 8pt;
    margin: 4px 1px 0;
    padding: 2px 3px;
    width: 80%;
    max-width: 450px;
}
.stdinput:hover {
    background: none repeat scroll 0 0 #F2EFDF;
    color: #9B4E03;
}
.stdinput:focus {
    background: none repeat scroll 0 0 #F2EFDF;
    color: #9B4E03;
}

.tagger {
    font-size:8pt !important;
    background: none repeat scroll 0 0 #EDEADA;
    border: 1px solid #5C0D11;
    color: #5C0D11;
    max-width: 450px;
    width: 60%;
    margin: 4px 1px 0;
    font-size: 9pt;
    display: table-cell;
}

.searchbtn {
    min-width: 100px !important;
}
td.itd {
    border-right: 1px solid #D9D7CC;
    padding: 3px 4px;
    text-align: left;
}
td.itd a {
    text-decoration: none;
}
td.itu {
    border-right: 1px solid #D9D7CC;
    padding: 3px 4px;
    text-align: left;
}
td.itdc {
    border-right: 1px solid #D9D7CC;
    margin: 0;
    padding: 0 1px 0 2px;
    text-align: center;
}
div.sni {
    background: none repeat scroll 0 0 #EDEBDF;
    border: 1px solid #5C0D12;
    margin: 2px auto 6px;
    padding: 0 10px 5px;
    position: relative;
    text-align: center;
    
    z-index: 1;
}
div.sni h1 {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
div.sni img {
    border: 0 none;
    clear: both;
    margin: 1px;
    vertical-align: middle;
}
div.if {
    margin: -5px auto 5px;
}
div.sn {
    font-size: 10pt;
    height: 32px;
    margin: 1px auto;
    z-index: 1;
}
div.sn div{
    margin:2px 25px 0px;display:inline;
    padding-bottom: 8px;
    vertical-align: middle;
}
div.sn span {
    font-weight: bold;
}
div.sn img {
    height: 30px;
    padding: 0 2px;
    width: 30px;
}
div.sb {
    margin-top: -10px;
    position: relative;
    z-index: 2;
}
div.sb img {
    border: 0 none;
}
div.idi {
    border: 2px ridge #5C0D12;
    border-collapse: collapse;
    margin: 0 auto 8px;
    padding: 5px;
    text-align: center;
}
div#toppane {
    margin: auto;
    width: 99%;
}


/* page selector */
.paginate_button {display:inline-block; text-align:center;height:15px;width:31px;background:#EDEADA;cursor:pointer;border:1px solid #000000;margin-top:10px;margin-bottom:10px;}
.paginate_button:hover{color:#9b4e03;background:#F2EFDF}
.paginate_button.current{color:#5C0D11;background:#F2EFDF;}
.ellipsis {display:inline-block; text-align:center;height:15px;width:31px;background:#EDEADA;cursor:pointer;border:1px solid #000000;margin-top:10px;margin-bottom:10px;}

.table-options {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom:-38px;
}

.table-option {
    margin-bottom: 2px;
}

.index-carousel .collapsible-title {
    padding: 0.5rem;
}

.collapsible-right {
    padding: 0.2rem 0.5rem 0 0 !important;
  }

.index-carousel {
    margin-top: 0 !important;
    margin-bottom: 12px !important;
}

.index-carousel > .option-flyout {
    margin: 0 !important;
}

.carousel-prev {
    padding:4px;
    border: 1px solid #5C0D12;
    background-color: #e0ded3;
}
  
.carousel-next {
    padding:4px;
    border: 1px solid #5C0D12;
    background-color: #e0ded3;
}

.caption, .context-menu-list {
background-color: #EDEADA;
border:2px outset #5C0D11 !important;
}

.caption-tags {
    padding: 5px;
    color: #5C0D11 !important;
}

.tippy-arrow {
    color: #5C0D11;
}

.context-menu-separator {
    padding: 0 !important;
    margin: .35em 0;
    border-bottom: 2px solid #5C0D11;
}

.context-menu-list {
    padding: 6px 0;
    box-shadow: none;
}     

.context-menu-item, .context-menu-icon.context-menu-icon--fa5 i {
    color: #5C0D11;
    font-size: 8pt;
}

.context-menu-item.context-menu-hover, .context-menu-icon.context-menu-icon--fa5.context-menu-hover > i {
    font-weight: bold;
    background: #F2EFDF !important;
    color: #5C0D11 !important;
    
}

.context-menu-submenu::after {
    border-color: transparent transparent transparent #5C0D11;
}

/* File upload bar */
.bar {
    height: 18px;
    background: #5C0D11;
}

.indeterminate {
    width:99%;
    max-width:1175px;
}

/* Toasts */
.jq-toast-single { 
    font-family: arial,helvetica,sans-serif !important; 
}

.jq-toast-single h2 { 
    font-family: arial,helvetica,sans-serif !important; 
}

/* Tag Cloud */
div.jqcloud {
    font-family: arial,helvetica,sans-serif !important;    
}

div.jqcloud span.w10, div.jqcloud span.w8, div.jqcloud span.w9 {
    color: #5C0D11 !important;
}

div.jqcloud span.w7, div.jqcloud span.w6, div.jqcloud span.w5  {
    color: #861319 !important;
}

div.jqcloud span.w4, div.jqcloud span.w3, div.jqcloud span.w2 {
    color: #b31921 !important;
}

div.jqcloud span.w1 {
    color: #df2029 !important;
}

/* Thumbnail View container divs*/
div.id1 {
    background: none repeat scroll 0 0 #F2EFDF;
    border: 1px solid #E3E0D1;
    border-radius: 9px 9px 9px 9px;
    display: inline-block;
    margin: 3px 2px 2px 3px;
    padding-top: 3px;
    height: 335px;
}

div.id2 {
    height: 30px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    width: 97%;
}

div.id2 a {
    font-weight: bold;
    text-decoration: none;
}

div.id3 {  
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 280px;
}

div.id3 img {
    border-radius: 7px 7px 7px 7px;
}

div.id4 {
    height: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    padding: 0 4px;
}

/* awesomplete */
.awesomplete > ul {
    background: #EDEADA;
    border-radius: 0px;
    border:1px outset #5C0D11;
    box-shadow: none;
}
.awesomplete > ul:before {
    background: #EDEADA;
}
.awesomplete > ul > li:hover, .awesomplete > ul > li[aria-selected="true"] {
    color: inherit;
    background: #E0DED3;
}
.awesomplete mark {
    background: hsl(39, 74%, 60%);
}
.awesomplete li:hover mark, .awesomplete li[aria-selected="true"] mark{
    background: hsl(39, 74%, 60%);
}

