<script type="importmap">
    {
        "imports": {
            "mod/common": "[% c.url_for("/js/mod/common.js?$version") %]",
            "mod/server": "[% c.url_for("/js/mod/server.js?$version") %]",
            "mod/index": "[% c.url_for("/js/mod/index.js?$version") %]",
            "mod/index_datatables": "[% c.url_for("/js/mod/index_datatables.js?$version") %]"
        }
    }
</script>
