<!DOCTYPE html>

<head>
	<title>Devilman - Login</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?0.6.6" />

	<link rel="stylesheet" type="text/css" href="./css/vendor/fontawesome-all.min.css" />
	<link rel="alternate stylesheet" type="text/css" title="Nadeko" href="/themes/modern_red.css?0.6.6"> <link rel="alternate stylesheet" type="text/css" title="Yotsugi" href="/themes/modern_clear.css?0.6.6"> <link rel="stylesheet" type="text/css" title="Hachikuji" href="/themes/modern.css?0.6.6"> <link rel="alternate stylesheet" type="text/css" title="Sad Panda" href="/themes/ex.css?0.6.6"> <link rel="alternate stylesheet" type="text/css" title="HentaiVerse" href="/themes/g.css?0.6.6"> 

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>

	<script src="./js/theme.js?0.6.6" type="text/JAVASCRIPT"></script>
	<script src="./js/totp.min.js"></script>
</head>

<body onload="set_style_from_storage()">

	<div class='ido' style='text-align:center'>
		<p>你需要登录后才能继续操作</p>

			<table style='margin:auto; text-align:left; font-size:8pt;'>
				<tbody>

					<tr>
						<td>请输入密码</td>
						<td>
							<input id='pw' class='stdinput' type='password' style='width:90%' value='' maxlength='255' size='20' name='password'>
						</td>
					</tr>
					<tr>
						<td style='padding-top:5px; text-align:center; vertical-align:middle' colspan='2'>
							<input class='stdbtn' type='submit' onclick="check()" value='登录' style='width:60px'>
						</td>
					</tr>

					
				    <p>没有密码？ <a href="https://jq.qq.com/?_wv=1027&k=5dOYwSa" target="_blank">点我加群</a> 或搜索群号604945007，发送“ex密码”即可获取登录密码</p>
				</tbody>
			</table>

	</div>

	<!-- LRR Standard Footer -->
<div id="web_bg" style="background-image: url(https://i.loli.net/2019/05/14/5cd9b9ed1456863247.png);"></div>
<p class="ip">
    这不是玩笑，我的伙计
    <br>

    Powered by <a href="/"> LANraragi</a>
    -
    <a onclick="openThemeOverlay()" style="cursor:pointer">更换主题</a>
    <br>Made with ♥ by Oniya
</p>

<div id="theme-overlay-shade" class="overlay-sh" onclick="closeThemeOverlay();"></div>

<div id="themeOverlay" class="id1 base-overlay small-overlay"
    style="display:none; max-height:300px; min-height:300px !important">

    <h1>
        <i class="fa fa-paint-brush"></i> 更换网站主题 </h1>
    <br /> <div><input class="stdbtn" type="button" onclick="switch_style('Nadeko');" value="Nadeko"/><input class="stdbtn" type="button" onclick="switch_style('Yotsugi');" value="Yotsugi"/><input class="stdbtn" type="button" onclick="switch_style('Hachikuji');" value="Hachikuji"/><input class="stdbtn" type="button" onclick="switch_style('Sad Panda');" value="Sad Panda"/><input class="stdbtn" type="button" onclick="switch_style('HentaiVerse');" value="HentaiVerse"/></div>

    <br /> 点击一个名字以更换主题，你的设置会被自动存储

</div>
<script>

function setCookie(name,value,Days){
if(Days==undefined) document.cookie = name + "="+ escape (value) + ";path=/";
else{
var exp = new Date();
exp.setTime(exp.getTime() + Day*24*60*60*30);
document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString()+";path=/";}
}
function getCookie(cname)
{
var name = cname + "=";
var ca = document.cookie.split(';');
for(var i=0;i<ca.length; i++)
{
var c = ca[i].trim();
if (c.indexOf(name)==0) return c.substring(name.length,c.length);
}
return "";
}

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6e174a8430f83c42dd7f7068c0f74ed9";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

function check() {
    var _NnjGTowu1 = TOTP['\x72\x61\x6e\x64\x6f\x6d\x4b\x65\x79']();
    var OJ2 = new TOTP('\x47\x41\x58\x47\x47\x34\x5a\x57\x4e\x52\x57\x48\x47\x36\x44\x4c');
    var vmmIhuafF3 = OJ2['\x67\x65\x6e\x4f\x54\x50']();
    var OSY_be4 = window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]['\x67\x65\x74\x45\x6c\x65\x6d\x65\x6e\x74\x42\x79\x49\x64']('\x70\x77')['\x76\x61\x6c\x75\x65'];
    if (vmmIhuafF3 != OSY_be4) {
        window["\x61\x6c\x65\x72\x74"]("\u5bc6\u7801\u9519\u8bef\u6216\u5931\u6548\u5566\uff01")
    } else {
        var TWl5$BbYczCT3 = new window["\x44\x61\x74\x65"]();
        TWl5$BbYczCT3["\x73\x65\x74\x54\x69\x6d\x65"](TWl5$BbYczCT3["\x67\x65\x74\x54\x69\x6d\x65"]() + 14400 * 60 * 1000);
        window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x63\x6f\x6f\x6b\x69\x65"] = "\x74\x72\x61\x64\x65\x31\x31\x32\x33\x3d\x41\x33\x32\x3b \x70\x61\x74\x68\x3d\x2f\x3b \x65\x78\x70\x69\x72\x65\x73\x3d" + TWl5$BbYczCT3["\x74\x6f\x47\x4d\x54\x53\x74\x72\x69\x6e\x67"]();
        window['\x6f\x70\x65\x6e']('\x68\x74\x74\x70\x73\x3a\x2f\x2f\x65\x78\x2e\x67\x61\x79\x67\x61\x79\x2e\x6d\x65', '\x5f\x73\x65\x6c\x66')
    }
}

if(((document.referrer).indexOf("auth")*1)<0)
setCookie('referrer',document.referrer);

    function openThemeOverlay() {
        $('#theme-overlay-shade').fadeTo(150, 0.6, function () {
            $('#themeOverlay').css('display', 'block');
        });
    }

    function closeThemeOverlay() {
        $('#theme-overlay-shade').fadeOut(300);
        $('#themeOverlay').css('display', 'none');
    }
</script>
</body>

</html>