<!DOCTYPE html>

<html>

<head>
	<title>[% title %] - Batch Tagging</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/ajax.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/batch.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body onload="set_style_from_storage(); checkUntagged(); showOverride()">

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>Batch Tagging</h2>
		<br><br>
		<div style='margin-left:auto; margin-right:auto;'>
			<div style='text-align:left; width:400px !important' class='left-column'>

				<br>
				You can use a plugin on multiple archives in one operation here.<br><br>
				Select your plugin, check archives you want to use it on, and get rolling! <br>
				Archives with no tags have been pre-checked.<br><br>
				<i class="fas fa-exclamation-triangle"></i> Some external services may temporarily ban your machine for
				excessive
				loads if you call a plugin too many times! <br /></br>
				Make sure to set a suitable <b>timeout</b> between archives using the picker below if the plugin you
				want to use is
				concerned. <br /><br />

				<table class="tag-options">
					<tbody>
						<tr>
							<td>Use plugin :</td>
							<td>
								<select id="plugin" class="favtag-btn" onchange="showOverride()">
									[% FOREACH plugins %]
									<option value="[% namespace %]">[% name %]</option>
									[% END %]
								</select>
							</td>
						</tr>
						<tr>
							<td>Timeout (max 20s):</td>
							<td>
								<input type="number" id="timeout" min="0" max="20" value="0"> seconds
							</td>
						</tr>
						<tr>
							<td colspan="2">
								This plugin recommends a cooldown of <span id="cooldown">-1</span> seconds.
							</td>
						</tr>

						<tr>
							<td></td>
							<td>
								<input type="checkbox" id="override" onclick="showOverride()">
								<label for="override">Override Plugin Global Arguments</label>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="tag-options">
					<tbody>
						[% FOREACH plugin IN plugins %][% IF plugin.parameters && plugin.parameters.size %]

						<span id="[% plugin.namespace %]-timeout" style="display:none">[% IF plugin.cooldown %][%
							plugin.cooldown %][% ELSE %]0[% END %]</span>

						[% FOREACH arg IN plugin.parameters %]
						<tr class="arg-override [% plugin.namespace %]-arg" style="display:none">
							<td style="max-width:250px">[% arg.desc %] :</td>
							<td>
								<input class="stdinput [% plugin.namespace %]-argvalue" type=[% SWITCH arg.type %] [%
									CASE 'string' %] "text" [% CASE 'bool' %] "checkbox" value="1" [% CASE 'int'
									%] "number" [% CASE %] "color" [% END %]>
							</td>
						</tr>
						[% END %][% END %][% END %]

					</tbody>
				</table>



				<div class="tag-options" style="text-align:center">
					<br /><br />
					<input type='button' value='Check/Uncheck all' class='stdbtn' checked='false'
						onclick='checkAll(this)'>
					<input type='button' value='Start Tagging' class='stdbtn' onclick='startBatch()'>

				</div>

				<div class="job-status" style="display:none; text-align:center">
					<input id="cancel-job" type='button' value='Cancel' class='stdbtn'>
					<input id="restart-job" type='button' value='Start another job' class='stdbtn'
						onclick='restartBatchUI()'>
					<div id="progress" style="padding-top:6px; padding-bottom:6px">
						<div class="bar"></div>
						Processed <span id="arcs"></span> out of <span id="totalarcs"></span>
					</div>
					<div class="id1" style="width:400px; height:314px">
						<pre id="log-container" class="log-panel" />
					</div>
				</div>

			</div>

			<div class="id1 right-column"
				style='text-align:center; min-width:400px; width: 60% !important; height:500px;'>
				<ul class='checklist'>
					[% arclist %]
				</ul>
			</div>
			<br><br>
		</div>

		<input class='stdbtn' type='button' onclick="window.location.href = './config/plugins';"
			value='Plugin Configuration' />
		<input class='stdbtn' type='button' onclick="window.location.href = './';" value='Return to Library' />

	</div>
	[% INCLUDE footer %]
</body>

</html>