<!DOCTYPE html>

<html>

<head>
	<title>[% title %] - [% c.lh("Batch Operations") %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-status-bar-style" content="black" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="manifest" href="app.webappmanifest" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/lrr.css?$version") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/fontawesome-all.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/ReactToastify.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/sweetalert2.min.css") %]" />
	[% csshead %]

	[% INCLUDE common/importmap %]

	<script src="[% c.url_for("/js/vendor/jquery.min.js") %]" type="text/JAVASCRIPT"></script>

	<script type="module" defer>
		import * as Batch from "[% c.url_for("/js/batch.js?$version") %]";
		const plugins = [% plugins %];
		const categories = [%  categories %];
		const tagrules = [% tagrules %];
		Batch.initializeAll({plugins, categories, tagrules});
	</script>

</head>

<body>

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>[% c.lh("Batch Operations") %]</h2>

		[% c.lh("You can apply modifications to multiple archives in one go here.") %]<br><br>
		[% c.lh("Select what you'd like to do, check archives you want to use it on, and get rolling!") %]<br>
		[% c.lh("Archives with no tags or from your last selection have been pre-checked.") %]<br><br>

		<div id="app"></div>

		<input id='plugin-config' class='stdbtn' type='button' value='[% c.lh("Plugin Configuration") %]' />
		<input id='return' class='stdbtn' type='button' value='[% c.lh("Return to Library") %]' />

	</div>
	[% INCLUDE footer %]
</body>

</html>
