<!DOCTYPE html>

<head>
	<title>[% title %] - Settings</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />
	<link rel="stylesheet" type="text/css" href="/css/config.css" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/allcollapsible.min.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/allcollapsible.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/ajax.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body onload="set_style_from_storage();">

	<div class="ido">
		<h2 class="ih" style="text-align:center">Admin Settings</h2>
		<br>
		<div class="left-column">

			<img id="logo" class="svg logo-container" src="./img/logo.svg">
			<br>
			Version [% version %] - "[% vername %]"
			<br>
			<h2>Select a category to show the matching settings.</h2>
			<br />
			<input class='stdbtn' type='button' onclick="saveFormData('#editConfigForm');"
				value='Save Settings' /><br />
			<input class='stdbtn' type='button' onclick="window.location.href = '/config/plugins';"
				value='Plugin Configuration' />
			<input class='stdbtn' type='button' onclick="window.location.href = '/backup';"
				value='Database Backup/Restore' />
			<input class='stdbtn' type='button' onclick="window.location.href = '/';" value='Return to Library' />

		</div>
		<form class="right-column" name="editConfigForm" id="editConfigForm" enctype="multipart/form-data"
			method="post">

			<ul class="collapsible extensible with-right-caret">
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-cubes" aria-hidden="true"></i> Global Settings</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_global %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-shield-alt" aria-hidden="true"></i> Security</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_security %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-file-archive" aria-hidden="true"></i> Archive Files</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_files %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-tags" aria-hidden="true"></i> Tags and Plugins</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_tags %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-satellite" aria-hidden="true"></i> Background Workers</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_shinobu %]
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</form>
	</div>

	<script>
		$(function () {
			enable_pass();
			enable_resize();
			replace_img_svg();
			shinobuStatus();
			setInterval(shinobuStatus, 5000);
			$("#enablepass").click(enable_pass);
			$("#enableresize").click(enable_resize);
		});

		function enable_pass() {
			if ($("#enablepass").prop("checked"))
				$(".passwordfields").show();
			else
				$(".passwordfields").hide();
		}

		function enable_resize() {
			if ($("#enableresize").prop("checked"))
				$(".resizefields").show();
			else
				$(".resizefields").hide();
		}

	</script> [% INCLUDE footer %]
</body>

</html>