<html>
	<head>
		<title>[% title %] - Configuration</title>

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link type="image/png" rel="icon" href="/img/favicon.ico" />
		
		<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />

		<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
		<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>

		<script src="/js/theme.js" type="text/JAVASCRIPT"></script>
		<script src="/js/ajax.js" type="text/JAVASCRIPT"></script>

	</head>

	<body onload="set_style_from_storage();">

		<style> 
			/*** custom checkboxes ***/
			input[type='checkbox'] {
			    -webkit-appearance:none;
			    -moz-appearance:none;
			    appearance:none;
			    font-size:20px;
			    cursor:pointer;
			    margin-left: 0px;
			}

			input[type='checkbox']::before {
    			content: "\f0c8";
			}

			input[type='checkbox']:checked::before {
			    content: "\f14a";
			}
		</style>

		<div class="ido" style="text-align:center"><h1 class="ih" style="text-align:center">LANraragi Configuration</h1> <br><br>
		<form name="editConfigForm" id="editConfigForm" enctype="multipart/form-data" method="post">
		  <table style="margin:auto; font-size:8pt;"><tbody>

			<tr><td style="text-align:left; width:100px"><h1 class="ih"> Site Title </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" value="[% title %]" name="htmltitle" type="text"> 
				<br>The site title appears on most pages as...their title.
		  	</td></tr>

		  	<tr><td style="text-align:left; width:100px"><h1 class="ih"> MOTD </h1></td><td>
				<input id="motd" class="stdinput" style="width:100%" maxlength="255" size="20" value="[% motd %]" name="motd" type="text"> 
				<br>Slang for Message of the Day. Appears on top of the main Library view.
		  	</td></tr>

		  	<tr><td style="text-align:left; width:100px"><h1 class="ih"> Archive Directory </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" value="[% dirname %]" name="dirname" type="text">
				<br> Directory where the archives will be located. <br>Make sure the user running LANraragi has access to this directory. It will be created when needed if it doesn't exist.
			</td></tr>

		  	<tr><td style="text-align:left; width:100px"><h1 class="ih"> Archives per page </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" value="[% pagesize %]" name="pagesize" type="text"> 
				<br> Number of archives shown on a page in the main list.
			</td></tr>

			<tr><td style="text-align:left; width:100px"><h1 class="ih"> Tag Blacklist </h1></td><td>
				<input class="stdinput" style="width:100%" size="20" value="[% blacklist %]" name="blacklist" type="text">
				<br> When tagging archives using external APIs, these tags will be automatically omitted. <br>Split tags with commas.
			</td></tr>

            <tr><td style="text-align:left; width:100px"><h1 class="ih"> Japanese Read Order </h1></td><td>
             	[% IF readorder %]
		  			<input id="readorder" name="readorder" class="fa" type="checkbox" checked>
		  		[% ELSE %]
		  			<input id="readorder" name="readorder" class="fa" type="checkbox">
		  		[% END %]
                <label for="readorder">
                	<br>If enabled, pages will be read right-to-left.
                </label>
			</td></tr>

		  	<tr><td style="text-align:left; width:100px"><h1 class="ih"> Enable Password </h1></td><td>
		  		[% IF enablepass %]
		  			<input id="enablepass" name="enablepass" class="fa" type="checkbox" checked>
		  		[% ELSE %]
		  			<input id="enablepass" name="enablepass" class="fa" type="checkbox">
		  		[% END %]
                <label for="enablepass">
                	<br>If enabled, everything that isn't reading will require a password.
               	</label>
			</td></tr>

			<tr class="passwordfields"><td style="text-align:left; width:100px"><h1 class="ih"> New Password </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" name="newpassword" type="password">
			</td></tr>

			<tr class="passwordfields"><td style="text-align:left; width:100px"><h1 class="ih"> New Password Confirmation </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" name="newpassword2" type="password">
				<br> Only edit these fields if you want to change your password. 
			</td></tr>

			<tr><td style="text-align:left; width:100px"><h1 class="ih"> Temporary Folder </h1></td><td>
				Current Size: <span id="tempsize"> [%tempsize%] </span> MBs <a style="cursor: pointer" onclick="cleanTempFldr();"> (Clean?)</a>
				 <br>This folder contains recently opened archives, for faster subsequent reading.
			</td></tr>
			
		  	<tr><td style="text-align:left; width:100px"><h1 class="ih"> Maximum Temp Size </h1></td><td>
				<input class="stdinput" style="width:100%" maxlength="255" size="20" value="[% tempmaxsize %]" name="tempmaxsize" type="text"> 
				 <br>In MBs. The temp folder is automatically emptied when it grows past the size specified here.
			</td></tr>

			<tr>
			<td colspan='2' style='text-align:center'> <br/>
				<input class='stdbtn' type='button' onclick="saveConfigurationData();" value='Save LRR Configuration'/>
				<input class='stdbtn' type='button' onclick="window.location.replace('/config/plugins');" value='Go to Plugin Configuration'/>
				<input class='stdbtn' type='button' onclick="window.location.replace('/');" value='Return to Library'/>
			<br/></td></tr>

		  </tbody></table>
		</form>
		</div>

	<script>
		$(function() {
			enable_pass();
		  $("#enablepass").click(enable_pass);
		});

		function enable_pass() {
		  if ($("#enablepass").prop("checked")) 
		    $(".passwordfields").show();
		  else 
		    $(".passwordfields").hide();
		}

	</script>

	[% INCLUDE footer %]
	</body>

</html>