<!DOCTYPE html>

<head>
	<title>[% title %] - Settings</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />
	<link rel="stylesheet" type="text/css" href="/css/config.css" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/allcollapsible.min.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/allcollapsible.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/common.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/server.js?[% version %]" type="text/JAVASCRIPT"></script>

</head>

<body>

	<div class="ido">
		<h2 class="ih" style="text-align:center">Admin Settings</h2>
		<br>
		<div class="left-column">

			<img class="logo-container" src="./img/logo.png">
			<br>
			<h1 style="margin-bottom: 2px">LANraragi</h1>
			Version [% version %], "[% vername %]"
			<br>
			<h2>Select a category to show the matching settings.</h2>
			<br />
			<input class='stdbtn' type='button' onclick="Server.saveFormData('#editConfigForm');"
				value='Save Settings' /><br />
			<input class='stdbtn' type='button' onclick="window.location.href = '/config/plugins';"
				value='Plugin Configuration' />
			<input class='stdbtn' type='button' onclick="window.location.href = '/backup';"
				value='Database Backup/Restore' />
			<input class='stdbtn' type='button' onclick="window.location.href = '/';" value='Return to Library' />

		</div>
		<form class="right-column" name="editConfigForm" id="editConfigForm" enctype="multipart/form-data"
			method="post" autocomplete="off">

			<ul class="collapsible extensible with-right-caret">
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-cubes" aria-hidden="true"></i> Global Settings
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_global %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-paint-brush" aria-hidden="true"></i> Theme
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_theme %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-shield-alt" aria-hidden="true"></i> Security
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_security %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-file-archive" aria-hidden="true"></i> Archive Files
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_files %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-tags" aria-hidden="true"></i> Tags and Thumbnails
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_tags %]
							</tbody>
						</table>
					</div>
				</li>
				<li class="option-flyout">
					<div class="collapsible-title caret-right">
						<i class="fa fa-satellite" aria-hidden="true"></i> Background Workers
					</div>
					<div class="collapsible-body">
						<table style="margin:auto; font-size:9pt;">
							<tbody>
								[% INCLUDE templates_config/config_shinobu %]
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</form>
	</div>

	<script>
		$(function () {
			enable_pass();
			enable_resize();
			shinobuStatus();
			setInterval(shinobuStatus, 5000);
			$("#enablepass").click(enable_pass);
			$("#enableresize").click(enable_resize);
		});

		function rebootShinobu() {
			$("#restart-button").prop("disabled", true);
			Server.callAPI("/api/shinobu/restart", "POST", "Background Worker restarted!", "Error while restarting Worker:",
				() => {
					$("#restart-button").prop("disabled", false);
					shinobuStatus();
				});
		}

		// Update the status of the background worker.
		function shinobuStatus() {
			Server.callAPI("/api/shinobu", "GET", null, "Error while querying Shinobu status:",
				(data) => {
					if (data.is_alive) {
						$("#shinobu-ok").show();
						$("#shinobu-ko").hide();
					} else {
						$("#shinobu-ko").show();
						$("#shinobu-ok").hide();
					}
					$("#pid").html(data.pid);
				});
		}

		function switch_style(css_title) {

			var i, link_tag, correct_style, default_style, new_style;
			correct_style = 0;

			for (i = 0, link_tag = document.getElementsByTagName("link"); i < link_tag.length; i++) {

				if ((link_tag[i].rel.indexOf("stylesheet") != -1) && link_tag[i].title) {

					if ((link_tag[i].rel.indexOf("alternate stylesheet") != -1))
					link_tag[i].disabled = true;
					else
					default_style = link_tag[i];

					if (link_tag[i].title == css_title) {
					new_style = link_tag[i];
					correct_style = 1;
					}
				}
			}

			if (correct_style == 1) { //if the style that was switched to exists
				default_style.disabled = true; //we disable the default style 
				new_style.disabled = false; //we enable the new style  
			}
		}

		function enable_pass() {
			if ($("#enablepass").prop("checked"))
				$(".passwordfields").show();
			else
				$(".passwordfields").hide();
		}

		function enable_resize() {
			if ($("#enableresize").prop("checked"))
				$(".resizefields").show();
			else
				$(".resizefields").hide();
		}

	</script> [% INCLUDE footer %]
</body>

</html>