<!DOCTYPE html>

<head>
	<title>[% title %] - [% c.lh("Duplicate Detection") %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-status-bar-style" content="black" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="manifest" href="app.webappmanifest" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/lrr.css?$version") %]" />

	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/fontawesome-all.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/jqcloud.min.css") %]">
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/allcollapsible.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/ReactToastify.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/sweetalert2.min.css") %]" />
	[% csshead %]

	<script src="[% c.url_for("/js/vendor/jquery.min.js") %]" type="text/JAVASCRIPT"></script>
  	<script src="[% c.url_for("/js/vendor/jquery.dataTables.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/preact.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/hooks.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/compat.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="[% c.url_for("/js/vendor/clsx.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/react-toastify.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/sweetalert2.min.js") %]" type="text/JAVASCRIPT"></script>

    <script src="[% c.url_for("/js/i18n.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/common.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/server.js?$version") %]" type="text/JAVASCRIPT"></script>
    <script src="[% c.url_for("/js/duplicates.js?$version") %]" type="text/JAVASCRIPT"></script>
</head>

<body>
	<div class='ido' style='text-align:center; overflow-x:auto;'>
		<h2 class="ih" style="text-align:center">[% c.lh("Duplicate Detection") %]</h2>
        <p>[% c.lh("Found [_1] duplicate groups", duplicates.size) %]</p>

        <div class="control-btn-group">
            <div class="duplicate-control-btn-group">
                <button type="button" class="stdbtn find-duplicates">Find Duplicates</button>
                <button type="button" class="stdbtn clear-duplicates">Clear Duplicates</button>
            </div>
            <div class="select-btn-group">
                <select class="duplicate-select-condition" name="duplicate-select-condition" id="duplicate-select">
                    <option value="none">Select none</option>
                    <option value="less-tags">Select every file in each duplicate group, except the file with the most tags</option>
                    <option value="less-size">Select every file in each duplicate group, except the file with largest size</option>
                    <option value="less-pages">Select every file in each duplicate group, except the file with most pages</option>
                    <option value="not-old">Select every file in each duplicate group, except the youngest file</option>
                    <option value="not-young"> Select every file in each duplicate group, except the oldest file</option>
                </select>
                <button type="button" class="stdbtn delete-selected btn-danger">Delete Selected</button>
            </div>
        </div>

        <table id="ds" class="ds">
            <thead>
                <tr>
                    <td>group-key</th>
                    <th>check</th>
                    <th>thumb</th>
                    <th>Title</th>
                    <th>Pages</th>
                    <th>Filename</th>
                    <th>Filesize</th>
                    <th>Date</th>
                    <th>Tags</th>
                    [% IF userlogged %]
                    <th>Action</th>
                    [% END %]
                </tr>
            </thead>
            <tbody>
                [% FOREACH group IN duplicates %]
                    [% first_archive = 1 %]
                    [% FOREACH archive IN group %]
                        <tr class="[% first_archive ? 'duplicate-group' : '' %]">
                            <td>[% archive.group_key %]</td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                </div>
                            </td>
                            <td>
                                <div class="thumbnail-wrapper">
                                    <a onmouseover="IndexTable.buildImageTooltip(this)" href="${new LRR.apiURL('/reader?id=[% archive.arcid %]')}" title="[% archive.title %]">
                                        <img class="thumbnail" src="${new LRR.apiURL(`/api/archives/[% archive.arcid %]/thumbnail`)}" width="100"/>
                                    </a>
                                    <div class="caption" style="display: none;">
                                        <img style="height:300px" src="${new LRR.apiURL('/api/archives/${data.arcid}/thumbnail')}" 
                                                  onerror="this.src='${new LRR.apiURL('/img/noThumb.png')}'">
                                    </div>
                                </div>
                            </td>
                            <td>[% archive.title %]</td>
                            <td class="page-count">[% archive.pagecount %]</td>
                            <td>[% archive.name %]</td>
                            <td class="file-size">
                                [% arcsize_mb = archive.arcsize / (1024 * 1024) %]
                                [% arcsize_mb FILTER format('%.2f') %] MB
                            </td>
                            <td class="date-added">[% archive.date_added %]</td>
                            <td class="tag-count tag-tooltip" onmouseover="IndexTable.buildTagTooltip(this)" >
                                <i class="fa-solid fa-tag"></i>
                                [% archive.tags.split(",").size %]
                            </td>
                            <div class="caption caption-tags" style="display: none;" >
                                    ${LRR.buildTagsDiv("[% archive.tags %]")}
                            </div>
                            [% IF userlogged %]
                            <td><button type="button" data-id="[% archive.arcid %]" class="stdbtn delete-archive action-button btn-danger">Delete</button></td>
                            [% END %]
                        </tr>
                        [% first_archive = 0 %]
                    [% END %]
                [% END %]
            </tbody>
        </table>
		<br>
		<input id="goback" type="button" value="Return to Library" class="stdbtn">
	</div>
	[% INCLUDE footer %]

</body>


</html>
