<!DOCTYPE html>

<head>
	<title>[% title %] - Reader Error</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
</head>

<body style='background: none repeat scroll 0% 0% brown; color: white; font-family: sans-serif; text-align: center'>

	<img src='/img/flubbed.gif' />
	<br />
	<h2>打开[% filename %]的时候出现了错误，这看起来像是这个文档的问题耶...</h2>

	<h3>更多错误信息：</h3>
	<pre>[% errorlog %]</pre>

</body>

</html>