<html>
	<head>
		<title>[% title %] - Reader Error</title>

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link type="image/png" rel="icon" href="./img/favicon.ico" />
	</head>

<body style='background: none repeat scroll 0% 0% brown; color: white; font-family: sans-serif; text-align: center'>

		<img src='./img/flubbed.gif'/>
		<br/>
		<h2>I flubbed it while trying to open the archive [% filename %]</h2>
		It's likely the archive is corrupt.<br/> 

		<h3>Some more info below if available:</h3> 
		<br/>
		[% errorlog %]

	</body>	
</html>