<!DOCTYPE html>

<head>
	<title>[% title %]</title>
	<input type="hidden" id="currentLanguage" value="[% language %]">
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-status-bar-style" content="black" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="manifest" href="app.webappmanifest" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/lrr.css?$version") %]" />

	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/fontawesome-all.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/jquery.contextMenu.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/awesomplete.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/tippy.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/allcollapsible.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/swiper-bundle.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/ReactToastify.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/sweetalert2.min.css") %]" />
	[% csshead %]

	<script src="[% c.url_for("/js/vendor/i18next.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/i18nextHttpBackend.min.js") %]" type="text/JAVASCRIPT"></script>
    <script src="[% c.url_for("/js/i18n.js?$version") %]" type="text/JAVASCRIPT"></script>

	<script src="[% c.url_for("/js/vendor/jquery.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/jquery.dataTables.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/preact.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/hooks.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/compat.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="[% c.url_for("/js/vendor/clsx.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/react-toastify.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/jquery.ui.position.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/jquery.contextMenu.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/awesomplete.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/popper.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/tippy-bundle.umd.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/marked.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/allcollapsible.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/swiper-bundle.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/sweetalert2.min.js") %]" type="text/JAVASCRIPT"></script>

	<script src="[% c.url_for("/js/index.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/common.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/server.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/index_datatables.js?$version") %]" type="text/JAVASCRIPT"></script>
</head>

<body>

	[% IF userlogged %]
    <p id="nb">
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/upload") %]" data-i18n="add-archives">Add Archives</a>
        <span style="margin-left:5px"></span>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/batch") %]" data-i18n="batch-operations">Batch Operations</a>
        <span style="margin-left:5px"></span>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/config") %]" data-i18n="settings">Settings</a>
        <span style="margin-left:5px"></span>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/config/categories") %]" data-i18n="modify-categories">Modify Categories</a>
        <span style="margin-left:5px"></span>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/stats") %]" data-i18n="statistics">Statistics</a>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/logs") %]" data-i18n="logs">Logs</a>
    </p>
	[% ELSE %]
    <p id="nb">
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/login") %]" data-i18n="admin-login">Admin Login</a>
        <span style="margin-left:5px"></span>
        <i class="fa fa-caret-right"></i>
        <a href="[% c.url_for("/stats") %]" data-i18n="statistics">Statistics</a>
    </p>
	[% END %]

	<div class='ido'>
		<h1 class='ih'>[% motd %]</h1>
		<div id='toppane'>
			<div class='idi'>
				<div id="category-container">
					<!-- Categories go here -->
				</div>
				<input type='text' id='search-input' class='search stdinput' size='90' style='width:95%'
					placeholder='Search Title, Artist, Series, Language or Tags'
					data-i18n="search-placeholder"
					data-i18n-attr="placeholder" />
				<input id='apply-search' class='searchbtn stdbtn' type='button' value='Apply Filter' 
					data-i18n="apply-filter"
					data-i18n-attr="value" />
				<input id='clear-search' class='searchbtn stdbtn' type='button' value='Clear Filter' 
					data-i18n="clear-filter"
					data-i18n-attr="value" />
			</div>

			<ul class="collapsible index-carousel with-right-caret">
				<li class="option-flyout"
					style="text-align: left;display: flex;flex-wrap: wrap;justify-content: space-between;">
					<div class="collapsible-title caret-right" style="display: flex;flex: 1 1 0;overflow: hidden;">
						<i id="carousel-icon" class="fa"></i>
						<div id="carousel-title"
							style="display:inline;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left: 8px;"
							data-i18n="carousel-title" data-i18n-attr="title">...</div>
					</div>
					<div class="collapsible-right">
						<a class="fa fa-2x fa-sync-alt" style="margin-bottom: -4px; display:none" id="reload-carousel"
							href="#" data-i18n="reload-carousel" data-i18n-attr="title"></a>
						<a class="fa fa-2x fa-ellipsis-h" style="margin-bottom: -4px; margin-left: 12px"
							id="carousel-mode-menu" href="#" data-i18n="carousel-mode-menu" data-i18n-attr="title"></a>
					</div>

					<div class="collapsible-body" style="flex: 1 0 100%;overflow: hidden;box-sizing: border-box;">
						<div class="swiper index-carousel-container">
							<a href="#" class="fa fa-3x fa-chevron-left carousel-prev"></a>
							<a href="#" class="fa fa-3x fa-chevron-right carousel-next"></a>
							<div class="swiper-wrapper"></div>
							<div id="carousel-loading"
								style="height: 344px; display:flex; justify-content: center; align-items: center;">
								<i class="fa fa-4x fa-stroopwafel fa-spin"></i>
							</div>
							<div id="carousel-empty"
								style="height: 344px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
								<i class="fa fa-4x fa-sad-cry"></i>
								<span style="margin-top: 12px;" data-i18n="carousel-empty-text">No results here.</span>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<div class="table-options" style="display: none;">
				<div class="thumbnail-options">Sort by:
					<select class="favtag-btn" id="namespace-sortby">
						<option selected value="title" data-i18n="sort-title">Title</option>
						<option selected value="date_added" data-i18n="sort-date">Date</option>
					</select>
					<a class="fa fa-sort-alpha-down fa-2x table-option" id="order-sortby" href="#" title="Sort Order" data-i18n="sort-order" data-i18n-attr="title"></a>

					<input id="thumbnail-crop" class="fa table-option" type="checkbox"
						title="If enabled, thumbnails that don't fit a regular A4 page will be cropped to only show the left side." data-i18n="thumbnail-crop" data-i18n-attr="title">
					<label for="thumbnail-crop" style="vertical-align: middle; padding-top:6px" data-i18n="crop-thumbnails">Crop thumbnails</label>
				</div>
				<div style="margin-left:auto">Go to Page:
					<select class="favtag-btn" id="page-select">
					</select>
					<a class="fa fa-list fa-2x mode-toggle thumbnail-toggle table-option" href="#"
						title="Switch to Compact Mode" data-i18n="switch-compact-mode" data-i18n-attr="title"></a>
					<a class="fa fa-table fa-2x mode-toggle compact-toggle table-option" href="#"
						title="Switch to Thumbnail Mode" data-i18n="switch-thumbnail-mode" data-i18n-attr="title"></a>
				</div>
			</div>

			<table class="itg datatables">
				<thead class="list" style="display: none;">
					<tr>
						<th id="titleheader">
							<a data-i18n="title">Title</a>
						</th>
						<th id="customheader1">
							<i id="edit-header-1" class="fas fa-pencil-alt edit-header-btn"
								title="Edit this column"></i>
							<a id="header-1" data-i18n="artist">Artist</a>
						</th>
						<th id="customheader2">
							<i id="edit-header-2" class="fas fa-pencil-alt edit-header-btn"
								title="Edit this column"></i>
							<a id="header-2" data-i18n="series">Series</a>
						</th>
						<th id="tagsheader">
							<a data-i18n="tags">Tags</a>
						</th>
					</tr>
				</thead>
				<tbody class="list" style="display: none;">
				</tbody>
			</table>

			<div id="json-error" style="display:none">
				<h1 style="color: red">
					<i class="fas fa-bomb"></i> I don't know everything, but I sure as hell know this database's busted
					lads
					<i class="fas fa-bomb"></i>
				</h1>
				<h2>The database cache is corrupt, and as such LANraragi is unable to display your archive list.</h2>
			</div>

		</div>
	</div>

	[% INCLUDE footer %]

	<script>
		jQuery(() => {
			document.addEventListener('i18nextInitialized', () => {
				[% IF usingdefpass %]
				LRR.toast({
					heading: i18next.t('default_password_warning.heading'),
					text: i18next.t('default_password_warning.text', {loginUrl: '[% c.url_for("/login") %]', configUrl: '[% c.url_for("/config") %]'}),
					icon: 'warning',
					hideAfter: 25000,
					closeOnClick: false,
					draggable: false,
				});
				[% END %]
			});
		
			const catList = [];
			[% IF categories.size > 0 %]
			[% FOREACH categories %]
			// Push a tuple into catList
			catList.push({
				name: "[% name %]",
				id: "[% id %]",
			});
			[% END %]
			[% END %]
		
			$.contextMenu({
				selector: '.context-menu',
				build: ($trigger, e) => {
					return {
						callback: function (key, options) {
							Index.handleContextMenu(key, $(this).attr("id"));
						},
						items: {
							"read": { name: i18next.t('contextMenu.read'), icon: "fas fa-book" },
							"download": { name: i18next.t('contextMenu.download'), icon: "fas fa-save" },
							[% IF userlogged %]
							"sep1": "---------",
							"edit": { name: i18next.t('contextMenu.editMetadata'), icon: "fas fa-pencil-alt" },
							"delete": { name: i18next.t('contextMenu.delete'), icon: "fas fa-trash-alt" },
							"collections": {
								name: i18next.t('contextMenu.addToCategory'),
								icon: "fas fa-search-plus",
								items: Index.loadContextMenuCategories(catList, $trigger.attr("id"))
							}
							[% END %]
						}
					}
				}
			});
		});
	</script>
		

	<div id="overlay-shade"> </div>

	<div id="updateOverlay" class="id1 base-overlay small-overlay" style="display:none">
		<h2 class="ih" style="text-align:center">New Version Release Notes</h2>
		<div id="changelog"></div>
	</div>


</body>

</html>
