<!DOCTYPE html>

<head>
	<title>[% title %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.qtip.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.contextMenu.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/awesomplete.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery-migrate.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.dataTables.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.qtip.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.ui.position.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.contextMenu.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/awesomplete.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/index.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/ajax.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/index_datatables.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="/js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body>

	[% IF userlogged %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./upload">Upload Archive</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./batch">Batch Tagging</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./config">Settings</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./backup">Database Backup/Restore</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">Statistics</a>
		<i class="fa fa-caret-right"></i>
		<a href="./logs">Logs</a>
	</p>
	[% ELSE %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./login">Admin Login</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">Statistics</a>
	</p>
	[% END %]

	<div class='ido'>
		<h1 class='ih'>[% motd %]</h1>
		<div id='toppane'>
			<div class='idi'>

				[% IF favtags && favtags.size %]
				<div>
					[% FOREACH tag IN favtags %]
					<div style="display:inline-block">
						<input class='favtag' id='[% tag %]' type='hidden' />
						<input class='favtag-btn' type='button' value='[% tag %]' onclick='toggleFav(this)'
							title='Click here to instantly search for this tag!' />
					</div>
					[% END %]
				</div>
				[% END %]

				<input type='text' id='srch' class='search stdinput' size='90' style='width:100%' 
					placeholder='Search Title, Artist, Series, Language or Tags' />
        <input id='subsrch' class='searchbtn stdbtn' type='button' value='Apply Filter' />
				<input id='clrsrch' class='searchbtn stdbtn' type='button' value='Clear Filter' />
			</div>

			<p id='cssbutton' style='display:inline'>
				<input id='inboxbtn' class='stdbtn' type='button' onclick='toggleInbox(this)'
					value='Show new archives only' />
				<input class='stdbtn' type='button' onclick="var win=window.open('random','_blank'); win.focus();"
					value='Give me a random archive' />
				<input id='viewbtn' class='stdbtn' type='button' onclick="switch_index_view()"
					value='Switch to List View' />
			</p>

			<table class="itg datatables">
				<thead>
					<tr>
						<th id="titleheader">
							<a>Title</a>
						</th>
						<th id="artistheader">
							<a>Artist</a>
						</th>
						<th id="seriesheader">
							<a>Series</a>
						</th>
						<th id="tagsheader">
							<a>Tags</a>
						</th>
						<th id="titleheader">
							<a>IsNew</a>
						</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>

			<div id="json-error" style="display:none">
				<h1 style="color: red">
					<i class="fas fa-bomb"></i> I don't know everything, but I sure as hell know this database's busted
					lads
					<i class="fas fa-bomb"></i>
				</h1>
				<h2>The database cache is corrupt, and as such LANraragi is unable to display your archive list.</h2>
			</div>

		</div>
	</div>

	[% INCLUDE footer %]

	[% IF debugmode %]
	<i class="fas fa-bug"></i> You're running in Debug Mode!
	<i class="fas fa-bug"></i>
	[% END %]

	<script>

		// Default to thumbnail mode
		if (localStorage.getItem("indexViewMode") === null) {
			localStorage.indexViewMode = 1;
		}

		initIndex([% pagesize %]);

		[% IF usingdefpass %]
		//If the json has the "default password" flag, flash a friendly notification inviting the user to change his password
		$.toast({
			heading: 'You\'re using the default password and that\'s super baka of you',
			text: '<a href="login">Login</a> with password "kamimamita" and <a href="config">change that shit</a> on the double.<br/>...Or just disable it! <br/>Why not check the configuration options afterwards, while you\'re at it? ',
			hideAfter: false,
			position: 'top-left',
			icon: 'error'
		});
		[% END %]

		[% IF debugmode %][% ELSE %]
		checkVersion("[% version %]");
		[% END %]

		// Initialize context menu
		$.contextMenu({
			selector: '.id1,.image-tooltip', 
			callback: function(key, options) {
				handleContextMenu(key, $(this).attr("id"));
			},
			items: {
				[% IF userlogged %]
				"edit": {name: "Edit Metadata", icon: "fas fa-pencil-alt"},
				"delete": {name: "Delete", icon: "fas fa-trash-alt"},		
				"sep1": "---------",		
				[% END %]
				"read": {name: "Read", icon: "fas fa-book"},
				"download": {name: "Download", icon: "fas fa-save"}
			}
		});

		// Tell user about the context menu
		if (localStorage.getItem("sawContextMenuToast") === null) {
			localStorage.sawContextMenuToast = true;

			$.toast({
			heading: 'Welcome to LANraragi [% version %]!',
			text: "If you want to perform advanced operations on an archive, remember to just right-click its name. Happy reading!",
			hideAfter: false,
			position: 'top-left',
			icon: 'info'
			});
		}

		// Initialize tag suggestions
		loadTagSuggestions();

	</script>

</body>

</html>