<html>
		<head>
			<title>[% title %]</title>

			<meta name="viewport" content="width=device-width" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
			<link type="image/png" rel="icon" href="./img/favicon.ico" />
			<link rel="stylesheet" type="text/css" href="./styles/lrr.css" />
			<link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css" />
			<link rel="stylesheet" type="text/css" href="./bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" />

			<script src="./bower_components/jquery/dist/jquery.min.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/datatables/media/js/jquery.dataTables.min.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/dropit/dropit.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/jquery-toast-plugin/dist/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
			<script src="./js/ajax.js" type="text/JAVASCRIPT"></script>
			<script src="./js/index.js" type="text/JAVASCRIPT"></script>
			<script src="./js/imagetrail.js" type="text/JAVASCRIPT"></script>
			<script src="./js/css.js" type="text/JAVASCRIPT"></script>
			
		</head>


		[% IF nonewarchives %]
			[% INCLUDE LRRStockUI %] 
		[% ELSE %]
			[% INCLUDE newArchiveUI %] 
		[% END %]


		<p class="ip">
			Sorry, I stuttered. 👌👺<br>

			<a href="https://github.com/Difegue/LANraragi"> 
				LANraragi [% version %]
			</a>
		</p>
				
		[% #this script tag doesn't change (even though some things like thumbnail hover aren't used in new archive mode) %]
		<script>

			//load archive JSON before anything else
			archiveJSON = [% archiveJSON %];
			newArchiveJSON = [% newarchiveJSON %];

			//Set the correct CSS from the user's localStorage.
			set_style_from_storage();

			//Init thumbnail hover
			showtrail('img/noThumb.png');

			[% IF usingdefpass %]

			//If the json has the "default password" flag, flash a friendly notification inviting the user to change his password
				$.toast({
				heading: 'You\'re using the default password and that\'s super baka of you',
			    text: '<a href="login.pl">Login</a> with password "kamimamita" and <a href="config.pl">change that shit</a> on the double.<br/>...Or just disable it! <br/>Why not check the configuration options afterwards, while you\'re at it? ',
			    hideAfter: false,
			    position: 'top-left', 
			    icon: 'error'
				});
			[% END %]

			if (localStorage.indexViewMode === 1)
			    $("#viewbtn").val("Switch to Thumbnail View");
			  else
			  {
			    $("#viewbtn").val("Switch to List View");
			    $('.itg').hide();
			  }

			//Check the github API to see if an update was released. If so, flash another friendly notification inviting the user to check it out
			
			var githubAPI = "https://api.github.com/repos/difegue/lanraragi/releases/latest";
			var currentVersion = "[% version %]" ;
			var latestVersion;

			$.getJSON( githubAPI).done(function( data ) {
					latestVersion = data.tag_name;

					if (latestVersion != currentVersion) {

						$.toast({
						heading: 'A new version of LANraragi ('+ latestVersion +') is available !',
					    text: '<a href="'+data.html_url+'">Hit it !</a> It\'s probably good. 👌',
					    hideAfter: false,
					    position: 'top-left', 
					    icon: 'info'
						});

					}
			});

		</script>

	</body>
</html>



[% #one block is used for new archive splashscreen UI, the other is the regular LANraragi UI. %]
[% BLOCK newArchiveUI %]
   
   <body onload ="initNewArchiveRequests(newArchiveJSON);">

   	<span style="display:none">[% cssdrop %]</span>

   	<style>
		
	</style>

   	<div class='ido'>
				<div id='toppane'>
				<h2 class='ih'>[% title %] - Parsing newly added archives</h2> 
				<h1 class='ih'>Please wait warmly.</h1>

					<div class='idi'>

						<div style="font-size:20px">
					    	<i id="icon"  class="fa fa-4x fa-hourglass-start"></i>
						</div>
					    <br/>

					    <h2 id="status">Parsed archives / Total new archives : </h2>
					    <h2 id="counter"> </h2>


					</div>
				</div>
	</div>		

[% END %]

[% BLOCK LRRStockUI %]
   
	<body onload ="initIndex([% pagesize %],archiveJSON);">	

		[% IF userlogged %]
			<p id="nb">
				<i class="fa fa-caret-right"></i>
				<a href="./upload.pl">Upload Archive</a>
				<span style="margin-left:5px"></span>
				<i class="fa fa-caret-right"></i>
				<a href="./tags.pl">Batch Tagging</a>
				<span style="margin-left:5px"></span>
				<i class="fa fa-caret-right"></i>
				<a href="./config.pl">Configuration</a>
				<span style="margin-left:5px"></span>
				<i class="fa fa-caret-right"></i>
				<a href="./backup.pl">Database Backup/Restore</a>
				<span style="margin-left:5px"></span>
				<i class="fa fa-caret-right"></i>
				<a href="./stats.pl">Statistics</a>

			</p>
		[% ELSE %]
			<p id="nb">
				<i class="fa fa-caret-right"></i>
				<a href="./login.pl">Admin Login</a>
				<span style="margin-left:5px"></span>
				<i class="fa fa-caret-right"></i>
				<a href="./stats.pl">Statistics</a>
			</p>
		[% END %]
		
			
			<div class='ido'>
				<div id='toppane'>
				<h1 class='ih'>[% motd %]</h1> 
				<div class='idi'>
					
				<input type='text' id='srch' class='search stdinput' size='90' placeholder='Search Title, Artist, Series, Language or Tags' /> 
				<input id='clrsrch' class='stdbtn' type='button' value='Clear Filter'/></div>

				<p id='cssbutton' style='display:inline'>
					<input class='stdbtn' type='button' onclick="var win=window.open('random.pl','_blank'); win.focus();" value='Give me a random archive'/>
					[% cssdrop %]
					<input id='viewbtn' class='stdbtn' type='button' onclick="switch_index_view()" value='Switch to Thumbnail View'/>
				</p>

				<table class="itg">
					<thead>
					<tr>
					<th></th>
						<th id="titleheader"><a>Title</a></th>
						<th id="artistheader"><a>Artist/Group</a></th>
						<th id="seriesheader"><a>Series</a></th>
						<th id="langheader"><a>Language</a></th>
						<th id="tagsheader"><a>Tags</a></th>
					</tr>
					</thead>
					<tbody class="list">
					</tbody>
				</table>

				</div>
			</div>

			

[% END %]