<!DOCTYPE html>

<head>
	<title>[% title %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version %]" />
	<link rel="stylesheet" type="text/css" href="/css/config.css?[% version %]" />

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.qtip.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.contextMenu.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/vendor/awesomplete.css" />
	[% csshead %]

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery-migrate.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.dataTables.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.qtip.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.ui.position.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.contextMenu.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/awesomplete.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/index.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/ajax.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/index_datatables.js?[% version %]" type="text/JAVASCRIPT"></script>
	<script src="/js/theme.js?[% version %]" type="text/JAVASCRIPT"></script>

</head>

<body onload="init()">

	[% IF userlogged %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./upload">Add Archives</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./batch">Batch Tagging</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./config">Settings</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./config/categories">Modify Categories</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">Statistics</a>
		<i class="fa fa-caret-right"></i>
		<a href="./logs">Logs</a>
	</p>
	[% ELSE %]
	<p id="nb">
		<i class="fa fa-caret-right"></i>
		<a href="./login">Admin Login</a>
		<span style="margin-left:5px"></span>
		<i class="fa fa-caret-right"></i>
		<a href="./stats">Statistics</a>
	</p>
	[% END %]

	<div class='ido'>
		<h1 class='ih'>[% motd %]</h1>
		<div id='toppane'>
			<div class='idi'>
				<div id="category-container">
					<!-- Categories go here -->
				</div>
				<input id='untaggedbtn' class='favtag-btn' type='button' onclick='toggleFilter(this)'
					value='Untagged archives only' />
				<input id='inboxbtn' class='favtag-btn' type='button' onclick='toggleFilter(this)'
					value='New archives only' />
				<br />
				<input type='text' id='srch' class='search stdinput' size='90' style='width:100%'
					placeholder='Search Title, Artist, Series, Language or Tags' />
				<input id='subsrch' class='searchbtn stdbtn' type='button' value='Apply Filter' />
				<input id='clrsrch' class='searchbtn stdbtn' type='button' value='Clear Filter' />
			</div>

			<p id='cssbutton' style='display:inline'>
				<input class='stdbtn' type='button' onclick="openInNewTab('random')" value='Give me a random archive' />

				<input id='viewbtn' class='stdbtn' type='button' onclick="openSettings()" value='Display Options' />
			</p>

			<table class="itg datatables">
				<thead>
					<tr>
						<th id="titleheader">
							<a>Title</a>
						</th>
						<th id="customheader1">
							<a>Artist</a>
						</th>
						<th id="customheader2">
							<a>Series</a>
						</th>
						<th id="tagsheader">
							<a>Tags</a>
						</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>

			<div id="json-error" style="display:none">
				<h1 style="color: red">
					<i class="fas fa-bomb"></i> I don't know everything, but I sure as hell know this database's busted
					lads
					<i class="fas fa-bomb"></i>
				</h1>
				<h2>The database cache is corrupt, and as such LANraragi is unable to display your archive list.</h2>
			</div>

		</div>
	</div>

	[% INCLUDE footer %]

	[% IF debugmode %]
	<i class="fas fa-bug"></i> You're running in <a href="./debug">Debug Mode</a>!
	<i class="fas fa-bug"></i>
	[% END %]

	<script>

		function init() {
			initSettings("[% version %]");
			initIndex([% pagesize %]);

			// Initialize tag suggestions
			loadTagSuggestions();

			// Initialize categories
			loadCategories();

			// Migrate local progression if there's any
			migrateProgress();

			[% IF usingdefpass %]
			//If the json has the "default password" flag, flash a friendly notification inviting the user to change his password
			$.toast({
				heading: 'You\'re using the default password and that\'s super baka of you',
				text: '<a href="login">Login</a> with password "kamimamita" and <a href="config">change that shit</a> on the double.<br/>...Or just disable it! <br/>Why not check the configuration options afterwards, while you\'re at it? ',
				hideAfter: false,
				position: 'top-left',
				icon: 'error'
			});
			[% END %]

			[% IF debugmode %][% ELSE %]
			checkVersion("[% version %]");
			[% END %]

			// Initialize context menu
			$.contextMenu({
				selector: '.context-menu',
				build: ($trigger, e) => {
					return {
						callback: function (key, options) {
							handleContextMenu(key, $(this).attr("id"));
						},
						items: {
							[% IF userlogged %]
							"edit": { name: "Edit Metadata", icon: "fas fa-pencil-alt" },
							"delete": { name: "Delete", icon: "fas fa-trash-alt" },
							"category": {
								"name": "Add to Category",
								"icon": "fas fa-search-plus",
								"items": {
									[% IF categories.size > 0 %][% FOREACH categories %]
									"category-[% id %]": { "name": "[% name %]", "icon": "fas fa-stream" },
									[% END %][% ELSE %]
								"noop": { "name": "No Categories yet...", "icon": "fas fa-ghost" }
									[% END %]
								}
							},
							"categoryremove": {
								"name": "Remove from Category",
								"icon": "fas fa-search-minus",
								"items": loadContextMenuCategories($trigger.attr("id"))
							},
							"sep1": "---------",
							[% END %]
						"read": { name: "Read", icon: "fas fa-book" },
					"download": { name: "Download", icon: "fas fa-save" }
				}
			}
				}
			});

		}

	</script>

	<div id="overlay-shade" onclick="closeOverlay();"> </div>
	<div id="settingsOverlay" class="id1 base-overlay small-overlay" style="display:none">
		<h2 class="ih" style="text-align:center">Index Display Options</h2>
		<div style="margin:auto; font-size:8pt;">

			<div class="config-panel">
				<h1 class="ih" style="display:inline"> Use Compact Mode</h1>
				<input id="compactmode" name="compactmode" class="fa" type="checkbox" style="float:left">
				<br /> If enabled, archives will be displayed as a list without thumbnails.
			</div>

			<div class="config-panel">
				<h1 class="ih" style="display:inline"> Crop Landscape Thumbnails </h1>
				<input id="cropthumbs" name="cropthumbs" class="fa" type="checkbox" style="float:left">
				<br /> If enabled, thumbnails that don't fit a regular A4 page will be cropped to only show the
				left side.
			</div>

			<div class="config-panel">
				<h1 class="ih" style="display:inline"> Column Customization </h1>
				<br>You can customize the namespace used in the two columns between the title and the tag summary.
				<br>Enter a full namespace without the colon, e.g "artist".<br>
				<br>If you have multiple tags with the same namespace, only the last one will be shown in the column.
				<br><br>
				<b>Column 1: </b> <input id="customcol1" name="customcol2" value="artist"> <br>
				<b>Column 2: </b> <input id="customcol2" name="customcol2" value="series">
			</div>
		</div>
		<br />
		<br />
		<input value="Save and Close" onclick="saveSettings()" class="stdbtn" id="goback" type="button">
		<br />
		<br />
		<br />
	</div>


</body>

</html>