<!DOCTYPE html>

<head>
	<title>[% title %] - About</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />

	<link rel="stylesheet" type="text/css" href="./css/vendor/fontawesome-all.min.css" />
	[% csshead %]

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>

	<script src="./js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body onload="set_style_from_storage()">

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>关于这里</h2>

		<br>
		<p>这是正在进行测试中的本子站</p>
		<p>你可以自由上传资源，但请不要编辑或删除其他资源</p>
		<p>在上传页面，直接拖拽进一个打包的本子即可（推荐ZIP格式）</p>
		<p>如有侵权行为，请发送邮件到 <a href="mailto:oniya@gaygay.me" rel="nofollow">Oniya@gaygay.me</a></p>
		<b>使用本站是本站给予您的特权而不是您的权力，请珍惜这里</b>
		<p>最后祝您，身体健康</p>
		
		<br><br>
		<span id='buttonstagging'>
			<input class='stdbtn' type='button' onclick="window.location.replace('/');" value='返回主页' />
		</span>

	</div>

	[% INCLUDE footer %]
</body>

</html>