<!DOCTYPE html>

<head>
	<title>[% title %] - Logs</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-status-bar-style" content="black" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="manifest" href="app.webappmanifest" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/lrr.css?$version") %]" />

	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/fontawesome-all.min.css") %]" />
	<link rel="stylesheet" type="text/css" href="[% c.url_for("/css/vendor/ReactToastify.min.css") %]" />
	[% csshead %]

	<script src="[% c.url_for("/js/vendor/jquery.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/preact.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/hooks.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/compat.umd.js") %]" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="[% c.url_for("/js/vendor/clsx.min.js") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/vendor/react-toastify.umd.js") %]" type="text/JAVASCRIPT"></script>

	<script src="[% c.url_for("/js/i18n.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/common.js?$version") %]" type="text/JAVASCRIPT"></script>
	<script src="[% c.url_for("/js/logs.js?$version") %]" type="text/JAVASCRIPT"></script>
</head>

<body>

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>[% c.lh("Application Logs") %]</h2>

		<br>
		[% c.lh("You can check LANraragi logs here for debugging purposes.") %]<br>
		[% c.lh("By default, this view only shows the last 100 lines of each logfile, newest lines last.") %] <br><br>
		<ul>
			<li>[% c.lh("General Logs pertain to the main application.") %]</li>
			<li>[% c.lh("Shinobu Logs correspond to the Background Worker.") %]</li>
			<li>[% c.lh("Plugin Logs are reserved for metadata plugins only.") %]</li>
			<li>[% c.lh("Mojolicious logs won't tell much unless you're running Debug Mode.") %]</li>
			<li>[% c.lh("Redis logs won't be available from here if you're running from source!") %]</li>
		</ul>
		<br><br>

		<h1 class='ih' style='float:left; margin-left: 5%;'>[% c.lh("Currently Viewing:") %] <span id="indicator">[% c.lh("general") %]</span></h1>

		<div style="margin-right: 5%;float: right;">

			<a id="refresh" href="#" title="Refresh">
				<i style="padding-right: 10px;" class="fa fa-sync-alt fa-2x"></i>
			</a>

			[% c.lh("Lines:") %] <input type="number" min="0" value="100" id="loglines" style="width: 60px;">

		</div>

		<table class="itg" style="width: 100%; margin-top: 32px;">
			<tbody>

				<tr class="gtr1">
					<td>
						<pre id="log-container" class="log-panel"></pre>
					</td>
				</tr>

			</tbody>
		</table>

		<br><br>
		<span id='buttonstagging'>
			<input id="show-general" type='button' value='[% c.lh("View LANraragi Logs") %]' class='stdbtn'>

			<input id="show-shinobu" type='button' value='[% c.lh("View Shinobu Logs") %]' class='stdbtn'>

			<input id="show-plugins" type='button' value='[% c.lh("View Plugin Logs") %]' class='stdbtn'>

			<input id="show-mojo" type='button' value='[% c.lh("View Mojolicious Logs") %]' class='stdbtn'>

			<input id="show-redis" type='button' value='[% c.lh("View Redis Logs") %]' class='stdbtn'>

			<br><br>
			<input id='return' class='stdbtn' type='button' value='[% c.lh("Return to Library") %]' />

		</span>

	</div>

	[% INCLUDE footer %]
</body>

</html>
