<!DOCTYPE html>

<head>
	<title>[% arcname %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./css/lrr.css" />
	<link rel="stylesheet" type="text/css" href="/css/config.css" />

	<link rel="stylesheet" type="text/css" href="./css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="./css/vendor/jquery.toast.min.css" />
	[% csshead %]

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="./js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>

	<script src="./js/theme.js" type="text/JAVASCRIPT"></script>
	<script src="./js/reader.js" type="text/JAVASCRIPT"></script>

</head>

<body onload="set_style_from_storage(); initSettingsOverlay();">

	<div id="i1" class="sni">
		<h1>[% arcname %]</h1>

		<div id="i2">
			[% INCLUDE pagesel %] [% INCLUDE arrows %] [% INCLUDE fileinfo %]
		</div>

		<div id="i3">
			<div class="loading-overlay">
				<p class="loading-spinner">
					<i id="spinner" class="fa fa-cog fa-spin"></i>
				</p>
			</div>

			<a id="display">
				<img id="img" class="reader-image" onload="updateMetadata()" onerror="this.src='./img/noThumb.png'" src="[% imgpath %]"
				 usemap="#Map" />
				<map name="Map" id="Map">
					<area id="leftmap" style="cursor:pointer;" onclick="advancePage(-1)" shape="rect" />
					<area id="rightmap" style="cursor:pointer;" onclick="advancePage(1)" shape="rect" />
				</map>
			</a>

		</div>

		<div id="i4">
			[% INCLUDE fileinfo %] [% INCLUDE pagesel %] [% INCLUDE arrows %]
		</div>

		<div id="i5">
			<div class="sb">
				<a href="./" title="Done reading? Go back to Archive Index">
					<i class="fa fa-angle-down fa-3x"></i>
				</a>
			</div>
		</div>

		[% IF userlogged %]
		<div id="i6" class="if">
			<i class="fa fa-caret-right fa-lg"></i>
			<a style="cursor:pointer" onclick="confirmThumbnailReset('[% id %]')">Regenerate Archive Thumbnail </a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a href="./reader?id=[% id %]&force_reload=1">Clean Archive Cache</a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a target="_blank" href="./edit?id=[% id %]">Edit this Archive's Metadata</a>
		</div>
		[% END %]

		<div id="i7" class="if">
			<i class="fa fa-caret-right fa-lg"></i>
			<a id="imgLink" style="cursor:pointer;">View full-size image</a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a href="./random">Switch to another random archive</a>
		</div>

	</div>

	<script>

		pages = [% imgpaths %];
		id = "[%id%]";

		//Go straight to page number in localStorage if it exists
		if (localStorage.nobookmark === 'true')
			currentPage = 0;
		else	
			currentPage = parseInt(localStorage[id + "-reader"] || 0);
		
		pageNumber = pages.pages.length;

		//canvas variables
		previousPage = -1;
		imagesLoaded = 0;
		img1 = "";
		img2 = "";
		showingSinglePage = false;

		//if we made it to the last page in a previous read, reset the page number
		if (currentPage === pageNumber-1)
			currentPage = 0;
			
		goToPage(currentPage);


		//image map update on window resize
		$(window).resize(function () {
			updateImageMap();
		});

	</script>

	<div id="overlay-shade" onclick="closeOverlay();"></div>
	<div id="archivePagesOverlay" class="id1 base-overlay page-overlay" style="display:none" loaded="false">
		<h2 class="ih" style="text-align:center">Archive Overview</h2>
	</div>
	<div id="settingsOverlay" class="id1 base-overlay small-overlay" style="display:none">
		[% INCLUDE config %]
	</div>

	<canvas id="dpcanvas" style="display:none" width="100" height="100"></canvas>

	[% INCLUDE footer %]
</body>

</html>



[% #compute those blocks before getting to the main html %]

<!-- -->
[% BLOCK config %]

<h2 class="ih" style="text-align:center">Reader Options</h2>
<div style="margin:auto; font-size:8pt;">

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> Japanese Read Order </h1>
		<input id="readorder" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> If enabled, pages will be read right-to-left.
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> Double Page View </h1>
		<input id="doublepage" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> If enabled, two pages will be displayed at once. (This excludes widespreads)
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> Scale to View</h1>
		<input id="scaletoview" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> If enabled, pages will be scaled to the screen's size.
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> Hide Top-level Navigation</h1>
		<input id="hidetop" name="hidetop" class="fa" type="checkbox" style="float:left">
		<br /> If enabled, every element that comes before images at the top will be hidden.
	</div>

	<div class="config-panel">
			<h1 class="ih" style="display:inline"> Disable Automatic Bookmarking</h1>
			<input id="nobookmark" name="nobookmark" class="fa" type="checkbox" style="float:left">
			<br /> Check this to start over from the first page every time you open the reader.
	</div>
</div>

<br />
<br />
<input value="Save and Close" onclick="saveSettings()" class="stdbtn" id="goback" type="button">
<br /> [% END %]
<!-- -->
[% BLOCK arrows %]
<div class="sn">

	<a onclick="goFirst()" style="cursor:pointer;">
		<i class="fa fa-angle-double-left" style="font-size: 1.5em;"></i>
	</a>

	<a id="left" onclick="advancePage(-1)" style="cursor:pointer;">
		<i class="fa fa-angle-left" style="font-size: 1.5em;"></i>
	</a>

	<div class="pagecount">
		<span class="current-page"></span> /
		<span class="max-page"></span>
	</div>

	<a id="right" onclick="advancePage(1)" style="cursor:pointer;">
		<i class="fa fa-angle-right" style="font-size: 1.5em;"></i>
	</a>

	<a onclick="goLast()" style="cursor:pointer;">
		<i class="fa fa-angle-double-right" style="font-size: 1.5em;"></i>
	</a>
</div>
[% END %]
<!-- -->
[% BLOCK pagesel %]
<div style="position: absolute; right: 20px; z-index:20" class="page_dropdown">

	<a href="#" onclick="openOverlay();" title="Archive Overview">
		<i class="fa fa-th fa-2x" style="padding-right: 10px;"></i>
	</a>

	<a href="#" onclick="openSettings();" title="Reader Settings">
		<i class="fa fa-cog fa-2x" style="padding-right: 10px;"></i>
	</a>

	<a href="#" onclick="toastHelpReader()" title="Help">
		<i class="fa fa-info-circle fa-2x" style="padding-right: 10px;"></i>
	</a>

</div>
[% END %]
<!-- -->
[% BLOCK fileinfo %]
<div class="file-info">

</div>
[% END %]