<!DOCTYPE html>

<head>
	<title>[% arcname %]</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./css/lrr.css" />
	<link rel="stylesheet" type="text/css" href="/css/config.css" />

    <link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./css/vendor/jquery.toast.min.css" />
	[% csshead %]

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="./js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>

	<script src="./js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="./js/reader.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="./js/ajax.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script>
    var VUUKLE_CONFIG = {
    apiKey: 'ab0de137-f62c-4c79-a61f-b497212b6090',
    articleId: '[% id %]',
    comments: {
    hideRecommendedArticles: true,
    hideMoreNews: true,
    },
    theme: {
            color: "#adadad",
            darkMode: true,
    },
    };
    // ⛔️ DON'T EDIT BELOW THIS LINE
    (function() {
    var d = document,
      s = d.createElement('script');
    s.src = 'https://cdn.vuukle.com/platform.js';
    (d.head || d.body).appendChild(s);
    })();
    </script>

</head>

<body onload="set_style_from_storage(); initSettingsOverlay();">

	<div id="i1" class="sni">
		<h1>[% arcname %]</h1>

		<div id="i2">
			[% INCLUDE pagesel %] [% INCLUDE arrows %] [% INCLUDE fileinfo %]
		</div>

		<div id="i3">
			<div class="loading-overlay">
				<p class="loading-spinner">
					<i id="spinner" class="fa fa-cog fa-spin"></i>
				</p>
			</div>

			<a id="display">
				<img id="img" class="reader-image" onload="updateMetadata()" onerror="this.src='./img/noThumb.png'" src="[% imgpath %]"
				 usemap="#Map" />
				<map name="Map" id="Map">
					<area id="leftmap" style="cursor:pointer;" onclick="advancePage(-1)" shape="rect" />
					<area id="rightmap" style="cursor:pointer;" onclick="advancePage(1)" shape="rect" />
				</map>
			</a>

		</div>
		
		<div style="position: absolute; right: 20px; z-index:20" class="page_dropdown">

			<a href="#" onclick="openOverlay();" title="画册总览">
				<i class="fa fa-th fa-2x" style="padding-right: 10px;"></i>
			</a>
	
			<a href="javascript:void(0)" onclick="addfav()" title="收藏" id="fav">
				<i class="fa fa-star-o fa-2x" style="padding-right: 10px;"></i>
			</a>

			<a href="#" onclick="openSettings();" title="阅读设置">
				<i class="fa fa-cog fa-2x" style="padding-right: 10px;"></i>
			</a>

			<a href="#" onclick="toastHelpReader()" title="帮助">
				<i class="fa fa-info-circle fa-2x" style="padding-right: 10px;"></i>
			</a>

    	</div>

		<div id="i4">
			[% INCLUDE fileinfo %] [% INCLUDE pagesel %] [% INCLUDE arrows %]
		</div>

		<div id="i5">
			<div class="sb">
				<a href="./" title="看完了？点我返回主页">
					<i class="fa fa-angle-down fa-3x"></i>
				</a>
			</div>
		</div>

		[% IF userlogged %]
		<div id="i6" class="if">
			<i class="fa fa-caret-right fa-lg"></i>
			<a style="cursor:pointer" onclick="confirmThumbnailReset('[% id %]')">重新生成缩略图 </a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a href="./reader?id=[% id %]&force_reload=1">清除缓存</a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a target="_blank" href="./edit?id=[% id %]">编辑资料</a>
		</div>
		[% END %]

		<div id="i7" class="if">
			<i class="fa fa-caret-right fa-lg"></i>
			<a id="imgLink" style="cursor:pointer;">查看原图</a>
			<i class="fa fa-caret-right fa-lg"></i>
			<a href="./random">给👴随便来一个</a>
		</div>
		<div id='vuukle-comments'></div>

	</div>

	<script>
		var arcid = '[% id %]';
		var isnew = 'false';
		var tags = '[% tags %]';
		var title = '[% arcname %]';
		var istrue = localStorage.getItem(arcid)
		if (istrue == null) {
			var a = document.getElementById("fav");
			a.innerHTML = '<i class="fa fa-star-o fa-2x" style="padding-right: 10px;"></i>';
			a.setAttribute('onclick', 'addfav()')
		} else {
			var a = document.getElementById("fav");
			a.innerHTML = '<i class="fa fa-star fa-2x" style="padding-right: 10px;"></i>';
			a.setAttribute('onclick', 'isfav()');
			a.setAttribute('title', '已收藏')
		}
		function isfav(){
			$.toast({
			heading: '你已经添加过收藏了！',
			text: '<a href="./favorite">点我查看收藏夹</a>',
			hideAfter: false,
			position: 'top-left',
			icon: 'warning'
			});
		}
		function addfav(){
		var fav = '{' + '"arcid":' + '"' + arcid + '"' + '}';
		var readfav = localStorage.getItem('fav');
		if (readfav==null){
		 var writefav = '{"arcid":' + '"' + arcid + '",' + '"isnew":' + '"' + isnew + '",' + '"tags":' + '"' + tags + '",' + '"title":' + '"' + title + '"}---';
		} else {
		 var writefav = readfav + '{"arcid":' + '"' + arcid + '",' + '"isnew":' + '"' + isnew + '",' + '"tags":' + '"' + tags + '",' + '"title":' + '"' + title + '"}---';
		};
		localStorage.setItem('fav',writefav);
		localStorage.setItem(arcid,'true');
		$.toast({
			heading: '成功添加收藏！',
			text: '<a href="./favorite">点我查看收藏夹</a>',
			hideAfter: false,
			position: 'top-left',
			icon: 'info'
			});
		var a = document.getElementById("fav");
		a.innerHTML = '<i class="fa fa-star fa-2x" style="padding-right: 10px;"></i>';
		a.setAttribute('onclick', 'isfav()');
		}
		pages = [% imgpaths %];
		id = "[%id%]";

		filename = "[% filename %]";
		if (filename.endsWith(".rar") || filename.endsWith(".cbr"))
			$.toast({
					showHideTransition: 'slide',
					position: 'top-left', 
					loader: false, 
				    heading: "This archive seems to be in RAR format!",
				    text: 'RAR archives might not work properly in LANraragi depending on how they were made. If you encounter errors while reading, consider converting your archive to zip.',
				    hideAfter: false,
				    icon: 'warning'
				});

		//Go straight to page number in localStorage if it exists
		if (localStorage.nobookmark === 'true')
			currentPage = 0;
		else	
			currentPage = parseInt(localStorage[id + "-reader"] || 0);
		
		pageNumber = pages.pages.length;

		//canvas variables
		previousPage = -1;
		imagesLoaded = 0;
		img1 = "";
		img2 = "";
		showingSinglePage = false;

		//if we made it to the last page in a previous read, reset the page number
		if (currentPage === pageNumber-1)
			currentPage = 0;
			
		goToPage(currentPage);

		// Remove new flag with an API call
		clearNew(id);

		//image map update on window resize
		$(window).resize(function () {
			updateImageMap();
		});

	</script>

	<div id="overlay-shade" onclick="closeOverlay();"></div>
	<div id="archivePagesOverlay" class="id1 base-overlay page-overlay" style="display:none" loaded="false">
		<h2 class="ih" style="text-align:center">画册总览</h2>
	</div>
	<div id="settingsOverlay" class="id1 base-overlay small-overlay" style="display:none">
		[% INCLUDE config %]
	</div>

	<canvas id="dpcanvas" style="display:none" width="100" height="100"></canvas>

	[% INCLUDE footer %]
	<script language="javascript">
		var ua = navigator.userAgent;
		var str = "Googlebot";
		if (ua.search(str) != -1 ) {
			console.log(ua.search(str) != -1 );
		} else {
    		var arr = document.cookie.match(new RegExp("trade1123=A32"));
    		if (arr == null) top.location = './auth'; 
    	}
	</script>
</body>

</html>



[% #compute those blocks before getting to the main html %]

<!-- -->
[% BLOCK config %]

<h2 class="ih" style="text-align:center">阅读器设置</h2>
<div style="margin:auto; font-size:8pt;">

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> 日本阅读习惯 </h1>
		<input id="readorder" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> 如果启用，将会从右到左加载图像
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> 双页面视图 </h1>
		<input id="doublepage" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> 如果启用，一次会显示两页（双倍快乐）
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> 自适应屏幕</h1>
		<input id="scaletoview" name="readorder" class="fa" type="checkbox" style="float:left">
		<br /> 如果启用，将会自动缩放图像大小到屏幕尺寸（建议启用）
	</div>

	<div class="config-panel">
		<h1 class="ih" style="display:inline"> 隐藏顶部导航栏</h1>
		<input id="hidetop" name="hidetop" class="fa" type="checkbox" style="float:left">
		<br /> 如果启用，图像上面的导航栏将被隐藏（建议启用）
	</div>

	<div class="config-panel">
			<h1 class="ih" style="display:inline"> 禁用自动书签</h1>
			<input id="nobookmark" name="nobookmark" class="fa" type="checkbox" style="float:left">
			<br /> 如果启用，将不再记录你每次阅读的进度，这意味着你每次打开画册都会从第一页开始阅读
	</div>
</div>

<br />
<br />
<input value="保存并关闭" onclick="saveSettings()" class="stdbtn" id="goback" type="button">
<br /> [% END %]
<!-- -->
[% BLOCK arrows %]
<div class="sn">

	<a onclick="goFirst()" style="cursor:pointer;">
		<i class="fa fa-angle-double-left" style="font-size: 1.5em;"></i>
	</a>

	<a id="left" onclick="advancePage(-1)" style="cursor:pointer;">
		<i class="fa fa-angle-left" style="font-size: 1.5em;"></i>
	</a>

	<div class="pagecount">
		<span class="current-page"></span> /
		<span class="max-page"></span>
	</div>

	<a id="right" onclick="advancePage(1)" style="cursor:pointer;">
		<i class="fa fa-angle-right" style="font-size: 1.5em;"></i>
	</a>

	<a onclick="goLast()" style="cursor:pointer;">
		<i class="fa fa-angle-double-right" style="font-size: 1.5em;"></i>
	</a>
</div>
[% END %]
<!-- -->
[% BLOCK pagesel %]
<!-- <div style="position: absolute; right: 20px; z-index:20" class="page_dropdown">

	<a href="#" onclick="openOverlay();" title="画册总览">
		<i class="fa fa-th fa-2x" style="padding-right: 10px;"></i>
	</a>
	
	<a href="#" onclick="edittest()" title="收藏" id="fav">
		<i class="fa fa-star-o fa-2x" style="padding-right: 10px;"></i>
	</a>

	<a href="#" onclick="openSettings();" title="阅读设置">
		<i class="fa fa-cog fa-2x" style="padding-right: 10px;"></i>
	</a>

	<a href="#" onclick="toastHelpReader()" title="帮助">
		<i class="fa fa-info-circle fa-2x" style="padding-right: 10px;"></i>
	</a>

</div> -->
[% END %]
<!-- -->
[% BLOCK fileinfo %]
<div class="file-info">

</div>
[% END %]