<html>
		<head>
			<title>[% arcname %]</title>
			
			<meta name="viewport" content="width=device-width" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

			<link type="image/png" rel="icon" href="./img/favicon.ico" />
			<link rel="stylesheet" type="text/css" href="./styles/lrr.css" />
			<link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css" />
			<link rel="stylesheet" type="text/css" href="./bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" />

			<script src="./js/css.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/jquery/dist/jquery.min.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/jQuery-rwdImageMaps/jquery.rwdImageMaps.min.js" type="text/JAVASCRIPT"></script>
			<script src="./bower_components/jquery-toast-plugin/dist/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
			
		</head>

		<body onload=" $('img[usemap]').rwdImageMaps(); set_style_from_storage();">
			
		[% cssdrop %]
		<script>set_style_from_storage();</script>
		<script src="./js/reader.js"></script>
		
		<div id="i1" class="sni" style="max-width: 1200px">
				<h1>[% arcname %]</h1>
				
				<div id="i2">
					[% INCLUDE pagesel %] 
					[% INCLUDE arrows %] 
					[% INCLUDE fileinfo %] 
				</div>
				
				<div id ="i3">
				
					<a id ="display">
						<img id="img" onload="updateMetadata()" style="max-width:100%; height: auto; width: auto; " src="[% imgpath %]" usemap="#Map" />
						<map name="Map" id="Map">
						    <area id="leftmap" alt="" title="" onclick="goLeft()" shape="rect" coords="0,0,[% mapwidth %],[% height %]" />
						    <area id="rightmap" alt="" title="" onclick="goRight()" shape="rect" coords="[% mapwidth + 1 %],0,[% width %],[%height%]" />
						</map>
					</a>
		
				</div>
				
				<div id = "i4">
					[% INCLUDE fileinfo %] 
					[% INCLUDE pagesel %] 
					[% INCLUDE arrows %] 
				</div>
				
				<div id="i5">
					<div class="sb">
						<a href="./">
							<i class="fa fa-angle-down fa-4x"></i>
						</a>
					</div>
				</div>

				[% IF userlogged %]
				<div id="i6" class="if">
					<i class="fa fa-caret-right fa-lg"></i>
					<a href="./reader.pl?id=[% id %]&force_reload=1">Clean Archive Cache</a>
					<i class="fa fa-caret-right fa-lg"></i>
					<a href="./reader.pl?id=[% id %]&reload_thumbnail=1">Regenerate Archive Thumbnail </a>
				</div>
				[% END %]
				
				<div id="i7" class="if">
					<i class="fa fa-caret-right fa-lg"></i>
					<a id="imgLink" style="cursor:pointer;">View full-size image</a>
				</div>
				
			</div>

		<script>

		pages = [% imgpaths %];

		currentPage = 0;
		pageNumber = pages.pages.length;

		[% IF readorder %]

		function goLeft(){
			goToPage(currentPage+1);
		}

		function goRight(){
			goToPage(currentPage-1);
		}
	
		[% ELSE %]

		function goLeft(){
			goToPage(currentPage-1);
		}

		function goRight(){
			goToPage(currentPage+1);
		}

		[% END %]

		//Go straight to page number in localStorage if it exists
		goToPage(currentPage);



		</script>

		</body>
</html>







[% #compute those blocks before getting to the main html %]
[% BLOCK arrows %]
   <div class="sn">
		<a onclick="goToPage(0)" style="cursor:pointer;"> 
			<i class="fa fa-angle-double-left fa-2x"></i> 
		</a>

		<a id="left" onclick="goLeft()" style="cursor:pointer;"> 
			<i class="fa fa-angle-left fa-2x"></i> 
		</a>

		<div class="pagecount">
			<span class="current-page"></span> / <span class="max-page"></span> 
		</div>

		<a id="right" onclick="goRight()" style="cursor:pointer;"> 
			<i class="fa fa-angle-right fa-2x"></i> 
		</a>

		<a onclick="goToPage(pageNumber-1)" style="cursor:pointer;"> 
			<i class="fa fa-angle-double-right fa-2x"></i> 
		</a>
	</div>
[% END %]

[% BLOCK pagesel %]
	<div style="position: absolute; right: 20px; z-index:20" class="page_dropdown" >

		<a href="#" onclick="showArchivePages()">
			<i class="fa fa-th fa-2x" style="padding-right: 10px;"></i>
		</a>

		<a href="#" onclick="toastHelpReader()">
			<i class="fa fa-info-circle fa-2x" style="padding-right: 10px;"></i>
		</a>	

	</div>
[% END %]

[% BLOCK fileinfo %]
	<div class = "file-info">
		
	</div>
[% END %]