<!DOCTYPE html>

<head>
	<title>[% title %] - Library Statistics</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />

	<link rel="stylesheet" type="text/css" href="./css/vendor/fontawesome-all.min.css" />
	<link rel="stylesheet" type="text/css" href="./css/vendor/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="./css/vendor/jqcloud.min.css">
	[% csshead %]

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="./js/vendor/jquery.toast.min.js" type="text/JAVASCRIPT"></script>
	<script src="./js/vendor/jqcloud.min.js"></script>

	<script src="./js/common.js?[% version%]" type="text/JAVASCRIPT"></script>
	<script src="./js/server.js?[% version%]" type="text/JAVASCRIPT"></script>
</head>

<body>

	<div class='ido' style='text-align:center'>
		<h2 class="ih" style="text-align:center">Library Statistics</h2>
		<br>
		<br>

		<div id="stats">

			<h1 class="ih">
				<i class="fa fa-book fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% archivecount %]
				</span>
				Archives on record
				<br><br>
				<i class="fa fa-tags fa-2x" aria-hidden="true"></i> <span style="font-size: 20px" id="tagcount">
					<i id="spinner" class="fa fa-cog fa-spin"></i> </span>
				Different
				tags existing
				<br><br>
				<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% arcsize %]
					GB </span>
				in content folder
				<br><br>
				<i class="fa fa-book-reader fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% pagestat %]
				</span>
				pages read
				<br><br><br>

				Tag Cloud <br>
			</h1>

		</div>

		<br>

		<div id="statsLoading" style="width: 80%; margin-left: auto; margin-right: auto">
			<p class="loading-spinner">
				<i id="spinner" class="fa fa-cog fa-4x fa-spin"></i>
			</p>
			Asking the great powers that be for your tag statistics...
		</div>

		<div id="tagCloud" style="width: 80%; height: 500px; margin-left: auto; margin-right: auto">
		</div>

		<h1 class="ih"> Detailed Statistics </h1>

		<table class="itg" id="detailTable">
			<thead>
				<tr>
					<td>Tag</td>
					<td>Occurences</td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>

		<br>
		<br>
		<input type="button" value="Return to Library" onclick="window.location.replace('./');" class="stdbtn"
			id="goback">



	</div>

	<script>
		let cloudData = {};

		Server.callAPI("/api/database/stats?minweight=2", "GET", null, "Couldn't load tag statistics",
			(data) => {

				var table = document.getElementById("detailTable");
				data.forEach(tag => {
					var row = table.insertRow(0);

					var tagText = tag.namespace === "" ? tag.text : tag.namespace + ":" + tag.text;

					row.insertCell(0).innerHTML = tagText;
					row.insertCell(1).innerHTML = tag.weight;

					if (tagText in cloudData) {
						cloudData[tagText] += tag.weight;
					} else {
						cloudData[tagText] = tag.weight;
					}
				});

				$('#tagCloud').jQCloud(data, {
					autoResize: true
				});

				$('#tagcount').html(data.length);
				$('#statsLoading').hide();

			});
	</script>

	[% INCLUDE footer %]
</body>


</html>