<html>
	<head>
		<title>[% title %] - Library Statistics</title>

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link type="image/png" rel="icon" href="./img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="./bower_components/jqcloud2/dist/jqcloud.min.css">

		<script src="./js/css.js" type="text/JAVASCRIPT"></script>
		<script src="./bower_components/jquery/dist/jquery.min.js" type="text/JAVASCRIPT"></script>		
		<script src="./bower_components/jqcloud2/dist/jqcloud.min.js"></script>

	</head>

	<body onload="set_style_from_storage(); 
	
				$('#tagCloud').jQCloud(words, {
					autoResize: true
				});
					">

		[% cssdrop %]
		<script>set_style_from_storage();</script>

		<div class='ido' style='text-align:center'>
			<h2 class="ih" style="text-align:center">Library Statistics</h2>
			<br>
			<br>

			<div id="stats" style ="">

				<h1 class="ih"> 
					<i class="fa fa-book fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% archivecount %] </span> Archives on record 
					<br><br>
					<i class="fa fa-tags fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% tagcount %] </span> Different tags existing
					<br><br>
					<i class="fa fa-folder-open fa-2x" aria-hidden="true"></i> <span style="font-size: 20px"> [% arcsize %] GB </span> in content folder

					<br><br><br>

					Tag Cloud  <br>
				</h1>

 
				
			</div>

			<br>


			<div id="tagCloud" style="width: 80%; height: 500px; margin-left: auto; margin-right: auto"></div>

			<br>
			<br>
			<input type="button" value="Return to Library" onclick="window.location.replace('./');" class="stdbtn" id="goback">

			

		</div>

	</body>

	<script>

		var words = [% tagcloud %];


	</script>
</html>