<html>
	<head>
		<title>[% title %] - Batch Tagging</title>

		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link type="image/png" rel="icon" href="./img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="./node_modules/font-awesome/css/font-awesome.min.css" />

		<script src="./js/css.js" type="text/JAVASCRIPT"></script>
		<script src="./node_modules/jquery/dist/jquery.min.js" type="text/JAVASCRIPT"></script>
		<script src="./js/ajax.js" type="text/JAVASCRIPT"></script>
		
	</head>

	<body onload="set_style_from_storage()">
		
		[% cssdrop %]

		<div class='ido' style='text-align:center'>
				<h2 class='ih' style='text-align:center'>Batch Tagging</h2>
				<br><br>
				<table style='margin-left:auto; margin-right:auto; width:70%; font-size:8pt;'>
					<tbody>

					<tr>
					<td style='text-align:center; width:400px; vertical-align:top'>

						<br>
						You can apply reverse tag research to multiple archives here.<br><br>
						Reverse tag searching leverages the E-Hentai API to find tags for your archives using their title or the hash of their first image. <br><br>
						Check the archives for which you want to search, and click on the button with the method you want to use.<br> Archives with no tags have been pre-checked.<br><br>
						<b>Important</b>: Since this not only leverages the API but also uses g.e-hentai for searches, tagging more than 150 archives at once might get you tempbanned for excessive pageloads.  <br> <br>nhentai doesn't pull that shit, so just use that instead ! <br>

						<span id='buttonstagging'>
						<input type='button' style='margin-top:25px;min-width:50px; max-width:150px;height:60px' value='Global Reverse &#x00A;Tag Research &#x00A;(Using Archive Titles)' class='stdbtn' onclick='massTag(0)'>

						<input type='button' style='margin-top:25px;min-width:50px; max-width:150px;height:60px' value='Global Reverse &#x00A;Tag Research &#x00A;(Using Image Hashes)' class='stdbtn' onclick='massTag(1)'>

						<input type='button' style='margin-top:25px;min-width:50px; max-width:150px;height:60px' value='Global Reverse &#x00A;Tag Research &#x00A;(Using nhentai.org)' class='stdbtn' onclick='massTag(2)'>

						<br><br><br>
						<input type='button' value='Uncheck all' class='stdbtn' onclick='$("input:checkbox").prop("checked", 0)'>
						<input class='stdbtn' type='button' onclick="window.location.replace('./');" value='Return to Library'/>


						</span>

					</td>

					<td>
						
						<table class='itg' style='box-shadow: none; border:none'>
						<tbody>
						<td>

							<ul class='checklist caption' style='height: 380px; overflow: auto; list-style: none outside none; text-align: left; width: 100%; padding-left: 5px; margin-left: 10px;'>
								[% arclist %]
							</ul>

							

					    </td>
					    </tbody>
					    </table>				

					</td>
					</tr>


					</tbody>
				</table>
				<br><br>

				<div id='processing' style='display:none'>
					<i class='fa fa-3x fa-cog fa-spin' style='display:none, margin-top:20px' id='tag-spinner'></i>
					<h3 id='processedArchive'>Processing </h3>
				</div>

		</div>
	</body>
</html>