# This systemd service file is provided as an example and might not work out-of-the-box with recent versions of LRR.
# It assumes you already have a standard redis installation on your Linux OS.
# (Provided by jmhickman, thanks!)

[Unit]
Description=LANraragi web application
After=network.target,redis.service

[Service]
Type=simple
Environment=LRR_NETWORK=http://*:80
WorkingDirectory=your_install_path
ExecStart=/usr/bin/npm start
#Restart=on-failure

[Install]
WantedBy=multi-user.target
