/* misc */
body{font-size:8pt;font-family:arial,helvetica,sans-serif;color:#f1f1f1;background:#34353b;padding:2px;margin:0px; text-align: center;}
p{padding:3px 1px;margin:0}
img{border:0}

a{color:#DDDDDD; } 
a:hover{color:#FFFBDB} 

p.ip{margin:-3px auto;text-align:center;padding:0px 5px 5px 5px;clear:both}

img.mr{border:0;margin-left:10px;width:5px;height:7px}
div.ido{background:#4f535b;border:1px solid #000000;width:99%;max-width:1200px;margin:10px auto 10px auto;padding:5px;position:relative}
h1.ih{font-size:10pt;font-weight:bold;margin:2px auto;text-align:center;padding-bottom:6px}


/* navbar */
p#nb{margin:2px auto;text-align:center}
p#nb img{border:0;margin-left:10px;width:5px;height:7px}
p#nb a{font-weight:bold}

/* shared table stuff */
table.itg{width:99%;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;border:2px ridge #000000;font-size:9pt}
table.itg th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#40454b; overflow: hidden;
    text-overflow: ellipsis;}

/* gallery table */
tr.gtr{background:#40454b}
tr.gtr0{background:#4f535b}
tr.gtr1{background:#363940}

/* input */
.stdbtn{font-size:8pt;color:#f1f1f1;background:#34353b;border:2px outset #000000;height:21px;margin:4px 1px 0px 1px;padding:0px 4px 1px 4px; min-width: 150px;}
.stdbtn:hover{color:#f1f1f1;background:#43464e;border:2px outset #000000}
.stdbtn:focus{color:#f1f1f1;background:#43464e}

.stdinput{font-size:8pt;color:#f1f1f1;background:#34353b;border:1px solid #000000;margin:4px 1px 0px 1px;padding:2px 3px 2px 3px; width:80%; max-width: 450px;}
.stdinput:hover{color:#f1f1f1;background:#43464e}
.stdinput:focus{color:#f1f1f1;background:#43464e}
.stdinput:disabled{color:#f1f1f1;background:#34353b}

/* gallery row */
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #40454b}
td.itd a{text-decoration:none}
td.itu{text-align:left;padding:3px 4px 3px 4px;border-right:1px solid #40454b}
td.itu a{text-decoration:none}
td.itu div{width:120px;overflow:hidden}
td.itdc{text-align:left;padding:0 1px 0 2px;margin:0;border-right:1px solid #40454b}

/* page selector */
.paginate_button {display:inline-block; text-align:center;height:15px;width:31px;background:#34353b;cursor:pointer;border:1px solid #000000;margin-top:10px;margin-bottom:10px;}
.paginate_button:hover{color:#000000;background:#43464e}
.paginate_button.current{color:#C2A8A4;background:#43464e}
.ellipsis {
    display:inline-block; text-align:center;height:15px;width:31px;background:#34353b;cursor:pointer;border:1px solid #000000;margin-top:10px;margin-bottom:10px;
}


/* image pages */
div.sni{background:#4f535b;border:1px solid #000000;text-align:center;margin:2px auto 6px;padding:0 10px 5px;position:relative;z-index:1}
div.sni h1{font-size:12pt;font-weight:bold;text-align:center}
div.sni img{border:0;vertical-align:middle;margin:1px;clear:both}
div.if{margin:-5px auto 5px}
div.sn{margin:1px auto;font-size:10pt;height:32px;z-index:1}
div.sn div{
    margin:2px 25px 0px;display:inline;
    padding-bottom: 8px;
    vertical-align: middle;
}
div.sn span{font-weight:bold}
div.sn img{width:30px;height:30px;padding:0px 2px}
div.sb{margin-top:-10px;position:relative;z-index:2}
div.sb img{border:0}

/* index */
div.idi{margin:auto;border-collapse:collapse;margin:0px auto 8px auto;padding:5px;border:2px ridge #000000;text-align:center}
div#toppane{margin:auto;width:99%}


.caption {
background-color: #4f535b;
border:2px outset #000000;
}

/* Dropit styles using div and span instead of ul and li */

.menu a {
	text-decoration: none;
}

.menu div.dropit-submenu {
    background-color: #4f535b;
    border:2px outset #000000;
    padding: 6px 0;
    margin: 3px 0 0 1px;
}          
.menu div.dropit-submenu a {
    display: block;
    line-height: 25px;
    color: #DDDDDD;
    padding: 0 18px;
}
.menu div.dropit-submenu a:hover {
    background: #43464e;
    color: #f1f1f1;
    
}