/*Pure CSS for the tag hover popups. The javascript used for the image thumbnails would've worked poorly here(due to moving along the mouse and the overall size of the tag popups)
It ain't the prettiest, but as usual, fuck JQuery.*/
td
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ttspinner{
  color:black; 
  position:relative; 
  top:-162px; 
  left:-1px; 
}

.caption {

   min-width: 0px !important;
   width: 50% !important;
   max-width: 50% !important;
   white-space: normal !important;
   padding: 5px !important;
   margin-top: 0px !important;
   margin-left: -25% !important;
   display: none !important;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   border-radius: 0px 0px 0px 0px !important;
}

.tags:hover .caption {
   display: block !important;
}

table .sort {
background-image: url(../img/down.png);
background-repeat: no-repeat;
background-position: right center;
padding-right: 14px;
cursor: pointer;
cursor: hand;
}
table .sort.asc {
background-image: url(../img/down.png);
}
table .sort.desc {
background-image: url(../img/up.png);
}

