/*Misc CSS trickery applies on pages that need it go here */

/*tag hover popups.*/
td
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#seriesheader {max-width: 150px;}
#langheader {max-width: 100px;}
#artistheader {max-width: 150px;}
#tagsheader {max-width: 150px;}
td.series {max-width: 150px;}
td.language {max-width: 100px;}
td.artist {max-width: 150px;}
td.tags {max-width: 150px;}

.ttspinner{
  color:black; 
  position:relative; 
  top:-162px; 
  left:-1px; 
}

.caption {

   min-width: 0px !important;
   width: 50% !important;
   max-width: 50% !important;
   white-space: normal !important;
   padding: 5px !important;
   margin-top: 0px !important;
   margin-left: -25% !important;
   display: none !important;
   border-radius: 0px 0px 0px 0px !important;
}

.tags:hover .caption {
   display: block !important;
}

/*Archive list Sorting*/
table .sort {
padding-right: 14px;
cursor: pointer;
cursor: hand;
}

table .sort:after {
border-left: 5px solid rgba(0, 0, 0, 0);
border-right: 5px solid rgba(0, 0, 0, 0);
border-top: 5px solid;
content: "";
height: 0;
position: relative;
right: -5px;
width: 0;
top: 10px;
}

table .sort.asc:after {
/*background-image: url(../img/down.png);*/
border-left: 5px solid rgba(0, 0, 0, 0);
border-right: 5px solid rgba(0, 0, 0, 0);
border-top: 5px solid;
}

table .sort.desc:after {
/*background-image: url(../img/up.png);*/
border-top: none;
border-bottom: 5px solid;
border-left: 5px solid rgba(0, 0, 0, 0);
border-right: 5px solid rgba(0, 0, 0, 0);
top: -10px;
}

/*Common rules for dropit aka the CSS selector dropdown*/

.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }

.menu div { display: none; } /* Hide before plugin loads */


/*Hide elements within the pages on small screens*/
@media all and (max-device-width: 1000px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {max-width: 50px;}
    #langheader {max-width: 50px;}
    #artistheader {max-width: 50px;}
    #tagsheader {max-width: 50px;}
    td.series {max-width: 50px;;}
    td.language {max-width: 50px;}
    td.artist {max-width: 50px;}
    td.tags {max-width: 50px;}
}

@media all and (max-width: 1000px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {max-width: 50px;}
    #langheader {max-width: 50px;}
    #artistheader {max-width: 50px;}
    #tagsheader {max-width: 50px;}
    td.series {max-width: 50px;;}
    td.language {max-width: 50px;}
    td.artist {max-width: 50px;}
    td.tags {max-width: 50px;}
}

@media all and (max-device-width: 530px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {display:none;}
    #langheader {display:none;}
    #artistheader {display:none;}
    #tagsheader {display:none;;}
    td.series {display:none;}
    td.language {display:none;}
    td.artist {display:none;}
    td.tags {display:none;}
}

@media all and (max-width: 530px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {display:none;}
    #langheader {display:none;}
    #artistheader {display:none;}
    #tagsheader {display:none;;}
    td.series {display:none;}
    td.language {display:none;}
    td.artist {display:none;}
    td.tags {display:none;}
}