/*Misc CSS trickery applies on pages that need it go here */

/*tag hover popups.*/
td
{
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#seriesheader {max-width: 150px;}
#langheader {max-width: 100px;}
#artistheader {max-width: 150px;}
#tagsheader {max-width: 150px;}
td.series {max-width: 150px;}
td.language {max-width: 100px;}
td.artist {max-width: 150px;}
td.tags {max-width: 150px;}

.ttspinner{
  color:black; 
  position:relative; 
  top:-162px; 
  left:-1px; 
}

.caption {

   min-width: 0px !important;
   width: 50% !important;
   max-width: 50% !important;
   white-space: normal !important;
   padding: 5px !important;
   margin-top: 0px !important;
   margin-left: -25% !important;
   display: none !important;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   border-radius: 0px 0px 0px 0px !important;
}

.tags:hover .caption {
   display: block !important;
}

/*Archive list Sorting*/
table .sort {
background-image: url(../img/down.png);
background-repeat: no-repeat;
background-position: right center;
padding-right: 14px;
cursor: pointer;
cursor: hand;
}
table .sort.asc {
background-image: url(../img/down.png);
}
table .sort.desc {
background-image: url(../img/up.png);
}

/*Hide elements within the pages on small screens*/
@media all and (max-device-width: 1000px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {max-width: 50px;}
    #langheader {max-width: 50px;}
    #artistheader {max-width: 50px;}
    #tagsheader {max-width: 50px;}
    td.series {max-width: 50px;;}
    td.language {max-width: 50px;}
    td.artist {max-width: 50px;}
    td.tags {max-width: 50px;}
}

@media all and (max-width: 1000px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {max-width: 50px;}
    #langheader {max-width: 50px;}
    #artistheader {max-width: 50px;}
    #tagsheader {max-width: 50px;}
    td.series {max-width: 50px;;}
    td.language {max-width: 50px;}
    td.artist {max-width: 50px;}
    td.tags {max-width: 50px;}
}

@media all and (max-device-width: 530px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {display:none;}
    #langheader {display:none;}
    #artistheader {display:none;}
    #tagsheader {display:none;;}
    td.series {display:none;}
    td.language {display:none;}
    td.artist {display:none;}
    td.tags {display:none;}
}

@media all and (max-width: 530px) {
    #i2 { display: none; }
    #i1 {padding: 2px;}
    #seriesheader {display:none;}
    #langheader {display:none;}
    #artistheader {display:none;}
    #tagsheader {display:none;;}
    td.series {display:none;}
    td.language {display:none;}
    td.artist {display:none;}
    td.tags {display:none;}
}