/* misc */

p{padding:3px 1px;margin:0}

img{border:0}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
} 

body {
    background-color: #34353B;
    color: #DDDDDD;
    font-family: 'Open Sans',arial,sans-serif;
    height: 100%;
    text-align: center;
    padding:2px;
    margin:0px;
    font-size: 8pt;
}    


a {
    color: #DDDDDD;
    text-decoration: none;
}
a:hover {
    color: #3b97ea;
    text-decoration: none;
}


p.ip{margin:-3px auto;text-align:center;padding:10px 5px 5px 5px;clear:both}

img.mr{border:0;margin-left:10px;width:5px;height:7px}

h1.ih{font-size:10pt;font-weight:bold;margin:2px auto;text-align:center;padding-bottom:6px}

div.ido{
    background-color: #4F535B;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:99%;
    /*min-width:950px;*/
    max-width:1300px;
    position:relative;
}

/* navbar */
p#nb{margin:2px auto;text-align:center}
p#nb img{border:0;margin-left:10px;width:5px;height:7px}
p#nb a{font-weight:bold}

/* shared table stuff */
table.itg{
	width:99%;
    /*min-width:925px;*/
    max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;font-size:9pt;
	border: 1px solid #363940;
	border-radius: 9px 9px 9px 9px;
}
table.itg th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#363940}

/* gallery table */
tr.gtr{background:#40454b}
tr.gtr0{background:#4F535B}
tr.gtr1{background:#363940}

/* input */
.stdbtn{
    background-color: #34353B;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 9pt;
    height: 28px;
    margin: 1px;
    outline: 0 none;
    padding: 0 4px 1px;
    min-width: 150px;
    cursor: pointer;
}
.stdbtn:hover{background-color: #43464E}
.stdinput{
    background: none repeat scroll 0 0 #ECF0F1;
    font-family: 'Open Sans',arial,sans-serif;
    border: medium none;
    color: #34353B;
    font-size: 9pt;
    height: 21px;
    margin: 4px 1px 0;
    padding: 2px 3px;
    max-width: 450px;

    width: 80%;
}

/* gallery row */
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #40454b}
td.itd a{text-decoration:none}
td.itu{text-align:left;padding:3px 4px 3px 4px;border-right:1px solid #40454b}
td.itu a{text-decoration:none}
td.itu div{width:120px;overflow:hidden}
td.itdc{text-align:left;padding:0 1px 0 2px;margin:0;border-right:1px solid #40454b}

/* page selector */
.paginationTop li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationTop li:hover{
	background-color: #F5F7F7;
    border-radius: 100% 100% 100% 100%;
}
.paginationTop a{text-decoration:none}
.paginationTop .active {
    font-weight: bold;
    background-color: #363940;
    border-radius: 100% 100% 100% 100%;
}

.paginationBottom li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationBottom li:hover{
	background-color: #F5F7F7;
    border-radius: 100% 100% 100% 100%;
}
.paginationBottom a{text-decoration:none}
.paginationBottom .active {
    font-weight: bold;
    background-color: #363940;
    border-radius: 100% 100% 100% 100%;
}

/* image pages */
div.sni{
	text-align:center;
	margin:2px auto 6px;
	padding:0 10px 5px;
	/*min-width:800px;*/
	position:relative;
	z-index:1;
	background-color: #4F535B;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    max-width: 1200px;
    width: 99%;

}
div.sni h1{font-size:12pt;font-weight:bold;text-align:center}
div.sni img{border:0;vertical-align:middle;margin:1px;clear:both}
div.if{margin:-5px auto 5px}
div.sn{margin:10px auto;font-size:15pt;height:32px;z-index:1}
div.sn div{
    margin:2px 25px 0px;display:inline;
    padding-bottom: 15px;
    vertical-align: middle;
}

div.pagecount{
    position:relative;
}

div.sn span{font-weight:bold}
div.sn img{width:30px;height:30px;padding:0px 2px}

div.sb{margin-top:-10px;position:relative;z-index:2}
div.sb img{border:0}

div.idi {
    border: medium none;
    border-collapse: collapse;
    border-radius: 9px 9px 9px 9px;
    margin: 0 auto 25px;
    padding: 15px;
    text-align: center;
    /*width: 598px;*/
}
div#toppane{margin:auto;width:99%}

.caption {
background-color: #34353B;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Dropit styles using div and span instead of ul and li */

.menu div.dropit-submenu {
    background-color: #34353B;
    /* border: 1px solid #b2b2b2; */
    padding: 6px 0;
    margin: 3px 0 0 1px;
}          
.menu div.dropit-submenu a {
    display: block;
    line-height: 25px;
    color: #DDDDDD;
    padding: 0 18px;
}
.menu div.dropit-submenu a:hover {
    background: #43464E;
    color: #3b97ea;
    text-decoration: none;
}