/* misc */

p{padding:3px 1px;margin:0}

img{border:0}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    background-color: #FCFCFC;
    color: #34495E;
    font-family: 'Roboto',arial,sans-serif;
    height: 100%;
    text-align: center;
    padding:2px;
    margin:0px;
    font-size: 8pt;
}    


a {
    color: #34495E;
    text-decoration: none;
}
a:hover {
    color: #ed2553;
    text-decoration: none;
}


p.ip{margin:-3px auto;text-align:center;padding:10px 5px 5px 5px;clear:both}

img.mr{border:0;margin-left:10px;width:5px;height:7px}

h1.ih{font-size:10pt;font-weight:bold;margin:2px auto;text-align:center;padding-bottom:6px}

div.ido{
    background-color: #E1E7E9;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:99%;
    max-width:1300px;
    position:relative;
}

/* navbar */
p#nb{margin:2px auto;text-align:center}
p#nb img{border:0;margin-left:10px;width:5px;height:7px}
p#nb a{font-weight:bold; color: #34495E;}
p#nb a:hover{color: #ed2553;}

p.ip a{color: #34495E;}
p.ip a:hover{color: #ed2553;}

/* shared table stuff */
table.itg{
	width:99%;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;font-size:9pt;
	border: 0 none;
	border-radius: 9px 9px 9px 9px;
    color: #FCFCFC;
}
table.itg th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#34495E;color:#FCFCFC;}
table.itg a{color:#FCFCFC;}
table.itg a:hover{color:#ed2553;}

/* gallery table */
tr.gtr{background:#40454b}
tr.gtr0{background:#475D73}
tr.gtr1{background:#34495E}

/* input */
.stdbtn{
    background-color: #34495E;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #f1f1f1;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 9pt;
    height: 28px;
    margin: 1px;
    outline: 0 none;
    padding: 0 4px 1px;
    cursor: pointer;
}
.stdbtn:hover{background-color: #ed2553}
.stdinput{
    background: none repeat scroll 0 0 #fcfcfc;
    font-family: 'Roboto',arial,sans-serif;
    border: medium none;
    color: #34495E;
    font-size: 9pt;
    height: 21px;
    margin: 4px 1px 0;
    padding: 2px 3px;
    max-width: 450px;
    width:80%;
}

/* gallery row */
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #566D75}
td.itd a{text-decoration:none}
td.itu{text-align:left;padding:3px 4px 3px 4px;border-right:1px solid #566D75}
td.itu a{text-decoration:none}
td.itu div{width:120px;overflow:hidden}
td.itdc{text-align:left;padding:0 1px 0 2px;margin:0;border-right:1px solid #566D75}

/* page selector */
.paginationTop li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationTop li:hover{
	background-color: #df696e;
    border-radius: 100% 100% 100% 100%;
}
.paginationTop a{text-decoration:none}
.paginationTop .active {
    font-weight: bold;
    background-color: #566D75;
    border-radius: 100% 100% 100% 100%;
}
.paginationTop .active a {color:#E1E7E9;}

.paginationBottom li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationBottom li:hover{
	background-color: #df696e;
    border-radius: 100% 100% 100% 100%;
}
.paginationBottom a{text-decoration:none;}
.paginationBottom .active {
    font-weight: bold;
    background-color: #566D75;
    border-radius: 100% 100% 100% 100%;
}
.paginationBottom .active a {color:#E1E7E9;}

/* image pages */
div.sni{
	text-align:center;
	margin:2px auto 6px;
	padding:0 10px 5px;
	position:relative;
	z-index:1;
	background-color: #E1E7E9;
    color: #34495E;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    max-width: 1200px;
    width: 99%;

}
div.sni h1{font-size:12pt;font-weight:bold;text-align:center;}
div.sni img{border:0;vertical-align:middle;margin:1px;clear:both}
div.if{margin:-5px auto 5px}
div.sn{margin:10px auto;font-size:15pt;height:32px;z-index:1}
div.sn div{
    margin:2px 25px 0px;display:inline;
    padding-bottom: 15px;
    vertical-align: middle;
}

div.pagecount{
    position:relative;
}

div.sn span{font-weight:bold}
div.sn img{width:30px;height:30px;padding:0px 2px}

div.sn a{color: #34495E;}
div.sn a:hover{color: #ed2553;}

div.if a{color: #34495E;}
div.if a:hover{color: #ed2553;}

div.sb a{color: #34495E;}
div.sb a:hover{color: #ed2553;}


div.sb{margin-top:-10px;position:relative;z-index:2}
div.sb img{border:0}

div.idi {
    border: medium none;
    border-collapse: collapse;
    border-radius: 9px 9px 9px 9px;
    margin: 0 auto 25px;
    padding: 15px;
    text-align: center;
}
div#toppane{margin:auto;width:99%}