
p {
    margin: 0;
    padding: 3px 1px;
}
img {
    border: 0 none;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.woff") format("woff");
}
body {
    background-color: #E9BBC5;
    color: #EFEAEA;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 8pt;
    height: 100%;
    margin: 0;
    padding: 2px;
    text-align: center;
}
a {
    color: #EFEAEA;
    text-decoration: none;
}
a:hover {
    color: #D7D4C5;
    text-decoration: none;
}
p.ip {
    clear: both;
    margin: -3px auto;
    padding: 10px 5px 5px;
    text-align: center;
}
img.mr {
    border: 0 none;
    height: 7px;
    margin-left: 10px;
    width: 5px;
}
h1.ih {
    font-size: 10pt;
    font-weight: bold;
    margin: 2px auto;
    padding-bottom: 6px;
    text-align: center;
}
div.ido {
    background-color: #D83B66;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 1300px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 99%;
}
p#nb {
    margin: 2px auto;
    text-align: center;
}
p#nb img {
    border: 0 none;
    height: 7px;
    margin-left: 10px;
    width: 5px;
}
p#nb a {
    color: #414135;
    font-weight: bold;
}
p.ip a {
    color: #34495E;
}
p.ip a:hover {
    color: #00BCD4;
}
table.itg {
    border: 0 none;
    border-collapse: collapse;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    color: #414135;
    font-size: 9pt;
    margin: 0 auto;
    max-width: 1175px;
    padding: 3px;
    width: 99%;
}
table.itg th {
    background: none repeat scroll 0 0 #D7D4C5;
    border-bottom: 2px solid #414135;
    font-weight: bold;
    padding: 3px 4px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
tr.gtr {
    background: none repeat scroll 0 0 #40454B;
}
tr.gtr0 {
    background: none repeat scroll 0 0 #DCDDCB;
}
tr.gtr1 {
    background: none repeat scroll 0 0 #D7D4C5;
}
.stdbtn {
    background-color: #E9A53A;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #F1F1F1;
    cursor: pointer;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 9pt;
    height: 28px;
    margin: 1px;
    min-width: 150px;
    outline: 0 none;
    padding: 0 4px 1px;
}
.stdbtn:hover {
    background-color: #BE234B;
}
.stdinput {
    background: none repeat scroll 0 0 #FCFCFC;
    border: medium none;
    color: #ED2553;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 9pt;
    height: 21px;
    margin: 4px 1px 0;
    max-width: 450px;
    padding: 2px 3px;
    width: 80%;
}
td.itd {
    border-right: 2px dotted #414135;
    padding: 3px 4px;
    text-align: left;
}
td.itd a {
    text-decoration: none;
}
td.itu {
    border-right: 1px solid #B84B55;
    padding: 3px 4px;
    text-align: left;
}
td.itu a {
    text-decoration: none;
}
td.itu div {
    overflow: hidden;
    width: 120px;
}
td.itdc {
    border-right: 2px dotted #414135;
    margin: 0;
    padding: 0 1px 0 2px;
    text-align: left;
}

.paginate_button {
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    height: 30px;
    text-align: center;
    width: 31px;
    margin-top:10px;
    margin-bottom:10px;
}

.paginate_button:hover {
    background-color: #BE234B;
    border-radius: 100% 100% 100% 100%;
}

.paginate_button.current {
    background-color: #E9A53A;
    border-radius: 100% 100% 100% 100%;
    font-weight: bold;
}

.ellipsis {
    font-size: 20px;
    margin-right: 3px;
}

div.sni {
    background-color: #D83B66;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    clear: both;
    color: #EFEAEA;
    display: block;
    margin: 2px auto 6px;
    max-width: 1200px;
    padding: 5px 10px 10px;
    position: relative;
    text-align: center;
    width: 99%;
    z-index: 1;
}
div.sni h1 {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
div.sni img {
    border: 0 none;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    clear: both;
    margin: 1px;
    vertical-align: middle;
}
div.if {
    margin: -5px auto 5px;
}
div.sn {
    font-size: 15pt;
    height: 32px;
    margin: 10px auto;
    z-index: 1;
}
div.sn div {
    display: inline;
    margin: 2px 25px 0;
    padding-bottom: 15px;
    vertical-align: middle;
}
div.pagecount {
    position: relative;
}
div.sn span {
    font-weight: bold;
}
div.sn img {
    height: 30px;
    padding: 0 2px;
    width: 30px;
}
div.sn a {
    color: #EFEAEA;
}
div.sn a:hover {
    color: #E9A53A;
}
div.if a {
    color: #EFEAEA;
}
div.if a:hover {
    color: #E9A53A;
}
div.sb a {
    color: #EFEAEA;
}
div.sb a:hover {
    color: #E9A53A;
}
div.sb {
    margin-top: -10px;
    position: relative;
    z-index: 2;
}
div.sb img {
    border: 0 none;
}
div.idi {
    border: medium none;
    border-collapse: collapse;
    border-radius: 9px 9px 9px 9px;
    margin: 0 auto 25px;
    padding: 15px;
    text-align: center;
}
div#toppane {
    margin: auto;
    width: 99%;
}
.caption {
    background-color: #DCDDCB;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.menu div.dropit-submenu {
    background-color: #E9A53A;
    margin: 3px 0 0 1px;
    padding: 6px 0;
}
.menu div.dropit-submenu a {
    color: #F1F1F1;
    display: block;
    line-height: 25px;
    padding: 0 18px;
}
.menu div.dropit-submenu a:hover {
    background: none repeat scroll 0 0 #BE234B;
    text-decoration: none;
}
table.itg a {
    color: #414135;
}
table.itg a:hover {
    color: #BE234B;
}
p#nb a:hover {
    color: #BE234B;
}
