/* misc */

p{padding:3px 1px;margin:0}

img{border:0}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
} 

body {
    background-color: #34353B;
    color: #DDDDDD;
    font-family: 'Open Sans',arial,sans-serif;
    height: 100%;
    text-align: center;
    padding:2px;
    margin:0px;
    font-size: 8pt;
}    


a {
    color: #DDDDDD;
    text-decoration: none;
}
a:hover {
    color: #3b97ea;
    text-decoration: none;
}
.br{color:#FF3333;font-weight:bold;text-align:center}
.nopm{padding:0;margin:0}
.stuffbox{background:#4f535b;border:1px solid #000000}



p.ip{margin:-3px auto;text-align:center;padding:10px 5px 5px 5px;clear:both}
iframe.avn{width:728px;height:90px;margin:0;padding:0}

div.i{float:left;height:15px;width:15px;margin:0 1px;background-repeat:no-repeat}
div.in{float:left;height:15px;width:25px;margin:0 3px 0 0;background-repeat:no-repeat}
div.in img{border:0;padding:0;margin:1px 0 2px 2px;width:25px;height:12px}
div.ir{width:80px;height:16px;background-repeat:no-repeat;background-image:url(http://st.exhentai.net/img/rt.png)}
div.ir img{width:80px;height:16px}

img.n{border:0;padding:0;margin:0 1px;width:15px;height:15px}
img.tn{border:0;padding:0;margin-right:2px;width:15px;height:15px;position:relative;top:4px;left:0px}
img.th{border:1px solid #000000;margin:1px 0px 0px;padding:0px}
img.mr{border:0;margin-left:10px;width:5px;height:7px}
img.ic{padding:0px;margin:0px;vertical-align:middle;border:0;width:100px;height:20px}
img.if{padding:0px;margin:1px 0;vertical-align:text-top;border:0;width:15px;height:13px}
img.rt{width:64px;height:12px;margin:1px 0 2px;vertical-align:middle}

div.dp{width:495px;margin:auto;text-align:center}
h1.ih{font-size:10pt;font-weight:bold;margin:2px auto;text-align:center;padding-bottom:6px}
div.ui{width:980px;margin:10px auto 10px auto;clear:both}
div.c{clear:both !important}
div.ido{
    background-color: #4F535B;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width:99%;
    min-width:950px;
    max-width:1300px;
}
div.tod{width:820px;height:32px;border:1px solid black;background:#FFFFCC;margin:auto;text-align:justify;padding:3px}

/* navbar */
p#nb{margin:2px auto;text-align:center}
p#nb img{border:0;margin-left:10px;width:5px;height:7px}
p#nb a{font-weight:bold}

/* shared table stuff */
table.itg{
	width:99%;min-width:925px;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;font-size:9pt;
	border: 1px solid #363940;
	border-radius: 9px 9px 9px 9px;
}
table.itg th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#363940}
div.itg{width:99%;min-width:925px;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;border-top:2px ridge #000000;border-bottom:2px ridge #000000}

/* gallery table */
tr.gtr{background:#40454b}
tr.gtr0{background:#4F535B}
tr.gtr1{background:#363940}

/* login boxes */
div.d{margin:200px auto auto auto;width:400px;text-align:center;border:1px solid #000000;background:#4f535b;padding:10px}
div.ds{margin:100px auto auto auto;width:300px;text-align:center;border:1px solid #000000;background:#4f535b;padding:10px}
div.dt{margin:300px auto auto auto;width:400px;text-align:center;border:1px solid #000000;background:#4f535b;padding:10px}

/* input */
.stdbtn{
    background-color: #34353B;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 9pt;
    height: 28px;
    margin: 0;
    outline: 0 none;
    padding: 0 4px 1px;
    cursor: pointer;
}
.stdbtn:hover{background-color: #43464E}
.stdinput{
    background: none repeat scroll 0 0 #ECF0F1;
    font-family: 'Open Sans',arial,sans-serif;
    border: medium none;
    color: #34353B;
    font-size: 9pt;
    height: 21px;
    margin: 4px 1px 0;
    padding: 2px 3px;
    max-width: 450px;
}

/* gallery row */
img.it{border:1px solid #000000;padding:0;margin:0 !important;width:14px;height:14px}
div.it2{z-index:8;background:#4f535b;visibility:hidden;position:absolute;left:-201px;width:200px}
div.it3{float:left;height:16px;padding-top:1px}
div.it4{width:85px;height:16px;float:right;text-align:right;position:relative}
div.it4r{float:right;margin-left:5px}
div.it4t{height:16px;width:100px;position:absolute;top:0px;left:-97px;z-index:9}
div.it5{overflow:hidden;float:left;height:16px;max-width:680px;padding-left:3px}
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #40454b}
td.itd a{text-decoration:none}
td.itu{text-align:left;padding:3px 4px 3px 4px;border-right:1px solid #40454b}
td.itu a{text-decoration:none}
td.itu div{width:120px;overflow:hidden}
td.itdc{text-align:left;padding:0 1px 0 2px;margin:0;border-right:1px solid #40454b}

/* page selector */
.paginationTop li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationTop li:hover{
	background-color: #F5F7F7;
    border-radius: 100% 100% 100% 100%;
}
.paginationTop a{text-decoration:none}
.paginationTop span{color:#C2A8A4}
.paginationTop .active {
    font-weight: bold;
}

.paginationBottom li {display:inline-block; text-align:center;height:30px;width:31px;cursor:pointer;font-size: 2em;}
.paginationBottom li:hover{
	background-color: #F5F7F7;
    border-radius: 100% 100% 100% 100%;
}
.paginationBottom a{text-decoration:none}
.paginationBottom span{color:#C2A8A4}
.paginationBottom .active {
    font-weight: bold;
}

td.ptds{font-weight:bold;font-size:10pt;color:#000000 !important;background:#43464e !important}
td.ptds a{font-weight:bold;font-size:10pt}

td.ptdd{color:#C2A8A4 !important}
td.ptdd:hover{color:#C2A8A4 !important;background:#34353b !important}

/* gallery */
#favoritelink #expungelink #renamelink{font-size:9pt;font-weight:bold}
a.tup{color:#00E639}
a.tdn{color:#FF3333}
span.tup{color:#00E639}
span.tdn{color:#FF3333}
div.gm{background:#4f535b;border:1px solid #000000;text-align:justify;width:99%;min-width:975px;max-width:1200px;margin:10px auto;padding:3px 5px;position:relative}
div#gleft{position:absolute;top:0px;left:0px;width:225px;height:315px;z-index:1}
div#gmid{float:right;width:810px;height:265px;position:relative;background:#4f535b;z-index:2}
div#gright{float:right;width:165px;height:265px;position:relative;background:#4f535b;z-index:2;clear:both}
div#gd1{font-size:10pt;float:left;width:205px;height:305px;padding:0 0 0 15px;line-height:305px}
div#gd1 img{border:1px solid #000000;margin:0px;padding:0px;margin:4px 2px 0 2px;vertical-align:middle}
div#gd2{background:#4f535b;font-weight:bold;text-align:center;float:right;width:975px;height:50px;overflow:auto;padding:0;margin:0;position:relative;z-index:2}
h1#gn{font-size:11pt;padding:0 0 2px;margin:3px 15px}
h1#gj{font-size:9pt;padding:0 0 2px;margin:3px 15px;color:#9F8687;border-bottom:1px solid #000000}
div#gd3{font-size:8pt;float:left;width:165px;padding:3px 0px 0px 5px;margin:0}
div#gd4{font-size:8pt;float:left;width:635px;padding:0;margin:0;vertical-align:top;background:#4f535b;border:1px solid #34353b;font-size:8pt}
div#gd5{font-size:8pt;float:left;width:160px;padding:3px 0px 0px 5px;margin:0}
div#gd5 img{border:0;margin-left:10px;width:5px;height:7px}
div#gd6{clear:both;width:720px;padding-top:8px;padding-left:5px}
div#gd6 a{text-decoration:none}
div.gd61{float:left;width:220px;text-align:left;font-size:9pt;font-weight:bold}
div#gd7{float:left;width:635px;height:18px;cursor:pointer}
div#gd71{float:left;width:615px;height:16px;overflow:hidden}
div#gd71 img{display:none}
div#gd72{float:right;width:20px}
div#gdt{background:#4f535b;border:1px solid #000000;text-align:left;width:99%;min-width:950px;max-width:1200px;margin:0 auto;clear:both;padding:5px}
div.gdtm{text-align:center;float:left;margin:2px 0px;width:120px}
div.gdtl{text-align:center;float:left;margin:2px 0px;width:239px}
div#gdt img{border:1px solid #000000;margin:0px;padding:0px}
div#gdt a{text-decoration:none}
div#gdc{text-align:center;margin:5px auto 0px}
div#gdn{font-size:10pt;text-align:center;margin:15px auto 0px}
div#gdd{width:165px;margin:10px auto 0px}
div#gdd table{width:165px;text-align:left;margin:15px auto;padding:0px}
td.gdt1{font-weight:bold;border-spacing:3px 0px}
td.gdt2{padding-left:3px}
div#gdr{width:165px;margin:10px auto 0}
div#gdr table{width:165px;text-align:center;margin:auto;padding:0px;font-weight:bold}
div#gdr map{margin:0px}
td#grt1{width:35%;padding:0px}
td#grt2{width:30%;padding:0px}
td#grt3{width:35%;padding:0px}
td#rating_label{padding:0 0 0 9px}
div#rating_image{cursor:pointer}
.g1{padding:0;margin:0;padding-left:20px;padding-bottom:15px}
.g2{padding:0;margin:0;padding-bottom:9px}
.g2 a{font-weight:bold;text-decoration:none}
.g3{padding:0;margin:0;padding-top:5px}
.g3 a{text-decoration:none;font-weight:bold;color:#FF0000}
.g3 a:hover{color:#FF6464}
div#tagpopup{position:absolute;top:-10px;left:165px;height:260px;width:630px;background:#4f535b;border:1px solid #000000;z-index:9;opacity:0.95;padding:4px 8px}
div#tagpopup h1{font-size:9pt;font-weight:bold;text-align:center;text-decoration:underline}
div#tagpopup h2{font-size:9pt;font-weight:bold;text-align:center;margin-top:7px;padding-top:0}
div#tagpopup h2:hover{color:#FFFBDB}
div#tagpopup p{font-size:9pt;text-align:justify;margin-top:5px}
div#gnc{text-align:center;padding-top:75px;color:#CCCCCC}
p#gn{padding:0;margin:0;font-weight:bold;font-size:12pt;text-align:center}
td.gnda{width:10px;text-align:center;vertical-align:middle}
td.gndn{width:1170px}
div.gt{float:left;font-weight:bold;padding:0px 3px;margin:0;white-space:nowrap;position:relative}
div#gdso{position:relative;height:173px;width:100%;overflow:visible;z-index:99}
div#gds{overflow:auto;text-align:justify;height:169px;width:620px;padding:2px 3px;background:#4f535b}
div#taglist{overflow:auto;height:195px;width:632px;padding:2px 0 2px 3px}
div#taglist a{text-decoration:none}
div#tagmenu_act{padding:2px;margin:0;float:left;width:600px;height:22px}
div#tagmenu_act a{text-decoration:none;font-weight:bold}
div#tagmenu_new{padding:2px;margin:0;float:left;width:600px;height:22px}
div#gwrd{height:16px;width:16px;float:right;position:relative;padding-top:4px}
div#waitroller{width:16px;height:16px}
div#gnd{width:800px;margin:5px auto;text-align:center}
input#newtagfield{width:450px;margin:0}
input#newtagbutton{margin:0}
a#grl{color:#FF3333;font-weight:bold}
div#ebo{height:337px;width:732px;margin:1px auto 3px auto;background-color:#5C0D11;position:relative}
span#ebs{color:#CCCCCC}
div#ebd{margin:auto;width:730px;height:322px;background:#FFFFFF}
div#chd{text-align:center;width:95%;margin:10px auto}
div.c1{width:95%;margin:10px auto}
div.c2{font-weight:bold;background:#34353b;border:1px solid #4f535b}
div.c3{float:left;padding:2px}
div.c4{float:right;padding:2px}
div.c5{float:right;padding:2px;width:80px;text-align:left}
div.c6{text-align:justify;padding:5px 20px 5px 20px;font-size:9pt;overflow:hidden}
div.c7{padding:5px 20px 5px 20px;font-size:7pt;font-weight:bold}
div.c7 span{white-space:nowrap}
img.ygm{border:0;opacity:0.7;padding-left:2px;vertical-align:-1px}
div#formdiv{width:900px;margin:10px auto;text-align:center}
div#formdiv textarea{width:900px;height:200px}
div#formdiv div{margin:auto;text-align:center;font-weight:bold}
p#frontpage{margin:-5px auto 0px;text-align:center;padding:0px 5px 5px;clear:both}

/* toplists */
p.t1{font-size:10pt;font-weight:bold}
table.t1 th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#4f535b}
table.t1 td{text-align:left;border-right:1px solid #111111}
table.t1 td.t1{font-weight:bold;text-align:right;padding-right:5px}
table.t1 td.t2{font-weight:bold;text-align:right;padding:2px 5px 2px 2px}
table.t1 td.t3{text-align:left;padding:2px 5px 2px 2px}
div.t1{float:left;margin:4px;padding:2px;width:285px;text-align:left}
div.t2{overflow:hidden;width:255px;height:15px;padding-left:1px}
table.t2 td.t1{font-weight:bold;text-align:right}

/* image pages */
div.sni{
	text-align:center;
	margin:2px auto 6px;
	padding:0 10px 5px;
	min-width:800px;
	position:relative;
	z-index:1;
	background-color: #4F535B;
    border-radius: 9px 9px 9px 9px;
    clear: both;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    max-width: 1200px;
    width: 99%;

}
div.sni h1{font-size:12pt;font-weight:bold;text-align:center}
div.sni img{border:0;vertical-align:middle;margin:1px;clear:both}
div.smi{background:#4f535b;border:1px solid #000000;text-align:center;margin:auto;padding:0 10px;min-width:800px;position:relative;z-index:1}
div.smi img{border:0;vertical-align:middle;margin:1px;clear:both}
div.if{margin:-5px auto 5px}
div.sn{margin:10px auto;font-size:15pt;height:32px;z-index:1}
div.sn div{margin:2px 25px 0px;display:inline}
div.sn span{font-weight:bold}
div.sn img{width:30px;height:30px;padding:0px 2px}
div.sa{margin:1px auto;position:relative;font-size:10pt;width:500px;height:32px;z-index:1}
div.so{position:relative}
div.so div{position:absolute;top:0px}
div.so img{width:30px;height:30px}
div.sp{padding-top:7px;width:80px;text-align:center}
div.sp span{font-weight:bold}
div.sb{margin-top:-10px;position:relative;z-index:2}
div.sb img{border:0}
img.si{border:0;margin:1px;clear:both}

/* stats */
td.stdb{text-align:center;vertical-align:bottom;margin:0px auto 0px auto;padding:1px 7px 0px 7px}
td.stdk{font-size:8pt;text-align:center;margin:0px auto 0px auto;padding:1px 3px;border:1px solid #000000;font-weight:bold}
td.stdv{font-size:8pt;text-align:center;margin:0px auto 0px auto;padding:1px 3px;border:1px solid #000000}

/* index */
table.itc{margin:auto}
table.itc td{padding:1px 5px}
table.itc2{margin:auto;text-align:left;width:94%;margin-top:5px}
table.itss{margin:auto;text-align:left;margin-top:5px;width:94%}
table.itsf{margin:auto;text-align:left;margin-top:5px;width:400px}
table.itsr{margin:auto;text-align:left;margin-top:5px;width:260px}
td.ic4{width:25%; height:25px}
td.ic3{width:33%; height:25px}
td.ic2{width:50%; height:25px}
td.ic1{width:100%; height:25px}
select.imr{margin-left:13px}
select.ibf{margin-left:13px;width:170px;background-repeat:no-repeat;background-position:2px 2px}
option.ibfc{padding-left:30px;background-repeat:no-repeat;background-position:0px 0px}
div.iet{float:left;width:182px;height:127px}
iframe.iet{border:0px;margin:0px;overflow:hidden;padding-left:28px;width:125px;height:145px}
div.idi {
    border: medium none;
    border-collapse: collapse;
    border-radius: 9px 9px 9px 9px;
    margin: 0 auto 25px;
    padding: 15px;
    text-align: center;
    width: 598px;
}
div#toppane{margin:auto;width:99%}
div#iw{color:#FF3333;margin:2px auto 5px auto;text-align:center}
div.id1{float:left;width:228px;margin:3px 2px 2px 3px;padding-top:3px;border-radius:9px;border:1px solid #34353b;background:#43464e}
div.id2{width:220px;height:30px;margin:auto;text-align:center;overflow:hidden;vertical-align:middle}
div.id2 a{font-weight:bold;text-decoration:none}
div.id3{width:202px;margin:auto;text-align:center;overflow:hidden;position:relative;border-radius:7px}
div.id3 img{border:0;margin:auto;border-radius:7px}
div.id4{width:220px;height:20px;margin:auto;text-align:center;position:relative}
div.id41{position:absolute;left:2px;top:5px;width:15px;height:15px;background-image:url(http://st.exhentai.net/img/btn.png);background-repeat:no-repeat}
div.id42{position:absolute;left:16px;top:7px;width:55px;height:15px;text-align:center}
div.id43{position:absolute;left:70px;top:2px}
div.id44{position:absolute;left:143px;top:0px;width:78px;height:20px;overflow:hidden;text-align:right}
div#dmo{float:right;width:170px;position:relative}
div#dmi{position:absolute;top:18px;left:-7px}
div#dmi span{font-weight:bold}
div.tfl{float:right;margin:1px 2px 0 0;width:15px;height:15px;background-image:url(http://st.exhentai.net/img/tf.png);background-repeat:no-repeat}
div.tft{float:right;margin:4px 2px 0 0;width:15px;height:15px;background-image:url(http://st.exhentai.net/img/tf.png);background-repeat:no-repeat}

/* misc */
table.mt{border:1px solid #000000;background:#40454b;border-collapse:collapse}
div#db{width:320px;text-align:center;margin:5px auto auto auto;border:1px solid #000000;background:#4f535b;padding:2px 5px 2px 5px}
table#dt{border:1px solid #000000;background:#4f535b;border-collapse:collapse;margin:10px auto;text-align:left}
table#ett{margin:8px auto;width:95%;overflow:auto;vertical-align:top;background:#43464e;border:1px solid #34353b;padding:1px 4px}
div#etd{margin:8px auto;width:95%;height:240px;overflow:auto;vertical-align:top;background:#43464e;border:1px solid #34353b;font-size:8pt;padding:1px 4px;text-align:justify}
div.bad{background:#43464e;border:1px solid #34353b;padding:3px}

/* favorites */
input.fs{font-size:12pt;color:#f1f1f1;background:#34353b}
input.fs:hover{background:#43464e}
div.fp{width:190px;height:20px;cursor:pointer;border-radius:9px;border:1px solid transparent}
div.fp:hover{background:#363940;border:1px solid #C2C1C1}
div.fps{background:#363940;border:1px solid #C2C1C1}

