on: [push, pull_request]
name: "Continuous Integration \U0001F44C\U0001F440"
jobs:
  testSuite:
    name: Run Test Suite and Perl Critic
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Test Docker Build and run Test Suite on it
      run: |
        docker build -t difegue/lanraragi -f ./tools/build/docker/Dockerfile .
        docker run -it -d difegue/lanraragi cd /home/koyomi/lanraragi && prove -l tests/*.t
    - name: Perl Critic
      uses: ./.github/action-critic
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
