on: release
name: New Version Release
jobs:
  uploadWSLRelease:
    name: Add WSL distro package to release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Untagged Docker Build
      uses: actions/docker/cli@8cdf801b322af5f369e00d85e9cf3a7122f49108
      with:
        args: build -t difegue/lanraragi -f ./tools/DockerSetup/Dockerfile .
    - name: Build WSL zip
      uses: ./.github/action-wslbuild
    - name: Upload Installer to release
      uses: JasonEtco/upload-to-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: LANraragi_Windows_Installer.zip application/zip
  pushLatestDocker:
    name: Build and Push Latest Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build Latest Docker image and tag with Release number
      run: |
        npm run docker-build-multiarch latest
        npm run docker-build-multiarch ${{ GITHUB_REF }}
    - name: Push to Docker Hub
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: |
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        npm run docker-push-multiarch latest
        npm run docker-push-multiarch ${{ GITHUB_REF }}
